[2017-10-15 18:50] Przemyslaw-Wosko opened #7 "Support for non XCTest subsclasses"
For now Mocky supports only XCTestCase, i'd be nice to separate framework completely from XCTest, and open support for other platforms.

[2017-10-24 08:24] amichnia commented on #7
![](https://github.trello.services/images/mini-trello-icon.png) [Add other platforms support (max os, tv os ...)](https://trello.com/c/PurnpgMm/16-add-other-platforms-support-max-os-tv-os)

[2017-10-24 11:11] amichnia opened #14 "Adding Swift 4 support"
Make Swift 4 default for SiftyMocky.

[2017-10-24 11:12] #14 closed

[2017-10-25 21:54] amichnia opened #17 "Skipping *.generated.swift for code generation"
As @CurlyHeir mentioned - Mock.generated.swift could be quite big, making future generations slower if being scanned as well.

We should probably exclude all *.generated.swift files from scanning by default.

[2017-10-25 21:55] amichnia commented on #17
![](https://github.trello.services/images/mini-trello-icon.png) [Exclude *.generated.swift from scanning](https://trello.com/c/VokUobln/26-exclude-generatedswift-from-scanning)

[2017-10-30 14:55] amichnia opened #22 "Support for perform method"
Perform method, that will be called by mocked method, allowing to perform action for passed attributes.

Handling completion block methods.

[2017-10-30 14:58] amichnia opened #23 "Support for @escaping and @nonespaing closure parameters"
Generated mocks should handle @escaping / @nonescaping

[2017-10-30 14:59] amichnia opened #24 "Support for @autoclosure parameters"

[2017-10-30 15:00] amichnia opened #25 "Support for protocol initializers"
Mock generated should handle init requirements

[2017-10-30 15:00] amichnia opened #26 "Prepare for swift 3.1 support"

[2017-10-30 15:02] amichnia opened #27 "Fix generated methods for the case where attribute name is same as label"
It generates warning in generated code, when attribute is same as its label.

[2017-10-30 16:18] amichnia commented on #22
![](https://github.trello.services/images/mini-trello-icon.png) [Support for PerformProxy (mock.on(... do { params -> Void }), to handle completion block based mocks.](https://trello.com/c/270EMTUO/27-support-for-performproxy-mockon-do-params-void-to-handle-completion-block-based-mocks)

[2017-10-30 16:25] amichnia commented on #24
![](https://github.trello.services/images/mini-trello-icon.png) [Support @escaping / @nonescaping for closures](https://trello.com/c/PmG4v3Ee/9-support-escaping-nonescaping-for-closures)

[2017-10-30 16:25] amichnia commented on #26
![](https://github.trello.services/images/mini-trello-icon.png) [Add Swift 3.1 support](https://trello.com/c/dI91GaeH/5-add-swift-31-support)

[2017-10-30 16:25] amichnia commented on #23
![](https://github.trello.services/images/mini-trello-icon.png) [Support @escaping / @nonescaping for closures](https://trello.com/c/PmG4v3Ee/9-support-escaping-nonescaping-for-closures)

[2017-10-30 16:25] amichnia commented on #24
![](https://github.trello.services/images/mini-trello-icon.png) [Support @autoclosure's](https://trello.com/c/YvL2PBxy/10-support-autoclosures)

[2017-10-30 16:26] amichnia commented on #25
![](https://github.trello.services/images/mini-trello-icon.png) [Support protocol initializers](https://trello.com/c/hON8QZh6/1-support-protocol-initializers)

[2017-10-30 16:26] amichnia commented on #27
![](https://github.trello.services/images/mini-trello-icon.png) [Update generated method signature, when attribute name is same as attribute label (generates warnings)](https://trello.com/c/IEulf8YD/14-update-generated-method-signature-when-attribute-name-is-same-as-attribute-label-generates-warnings)

[2017-10-30 16:26] amichnia commented on #17
![](https://github.trello.services/images/mini-trello-icon.png) [Exclude *.generated.swift from scanning](https://trello.com/c/VokUobln/26-exclude-generatedswift-from-scanning)

[2017-11-02 16:06] #27 closed

[2017-11-02 16:06] amichnia commented on #27
done

[2017-11-02 19:05] CurlyHeir commented on #26
- I got binary of sourcery v0.8,
- set command line tools to Xcode 8.3.3
- added Paramter implementation, that works under Swift 3.1
- mocks were corectly genreated

now we need to plan, how we want to keep support for 3.1

[2017-11-03 09:57] #24 closed

[2017-11-03 09:57] amichnia commented on #24
done

[2017-11-03 09:57] #23 closed

[2017-11-03 09:57] amichnia commented on #23
done

[2017-11-03 09:57] #22 closed

[2017-11-03 09:58] amichnia commented on #22
done

[2017-11-03 10:08] CurlyHeir opened #31 "Remove warnings from project"

[2017-11-03 11:23] amichnia opened #32 "Error handling for matcher and given cases"
Handle fatal errors with style, or at least print issues to console.

[2017-11-03 11:26] amichnia opened #33 "Rename Mocky to SwiftyMocky"
Update docs, specs and project for final project name.

Update project structure (needed for docs generation).

[2017-11-03 11:27] amichnia opened #34 "Full documentation"
Prepare full documentation for:
1. wiki
2. cocoadocs (jazzy generated? - include additional doc files)
3. simplify readme

Still needs to be done:
- Examples
- verify links to docs in readme

[2017-11-03 11:55] amichnia opened #35 "Remove duplicates when methods added in protocol extension"
When methods implemented in protocol extension (with default values) - mock methods become duplicated. Should use plain protocol methods.

[2017-11-03 11:55] amichnia opened #36 "Handle generic methods"
Methods with generic constraints should be handled.

[2017-11-03 14:28] amichnia opened #38 "Support for throwing / rethrows and all other throwable cases"
Verify and update for all stuff regarding throwing errors. Could think about Given versions with willThrow instead of willReturn.

[2017-11-03 15:32] #25 closed

[2017-11-03 15:32] amichnia commented on #25
done

[2017-11-03 15:57] #35 closed

[2017-11-03 19:43] amichnia commented on #26
Similar story with Swift 4.0 and 4.0.2 - after updating to Xcode 9.1 it stopped building. Had to rebuild sourcery manually from sources. Not sure why building it with pods do not ensure valid version / same as project I don't know.

Possible solutions:
1. Attach binaries to support branches
2. Fill issue within Sourcery, asking for help (could do anyway)
3. Investigate stencil + spm

[2017-11-03 22:37] #32 closed

[2017-11-04 14:16] amichnia opened #41 "Refactor and simplify template code"
Also, add some additional library methods, like:

[code]

For sake of handling matcher and stub issues.

[2017-11-05 17:34] amichnia opened #43 "Carthage support and install instructions"
Allow adding SwiftyMocky through Carthage

[2017-11-06 13:48] #33 closed

[2017-11-06 13:48] #43 closed

[2017-11-06 14:33] #34 closed

[2017-11-07 16:11] amichnia commented on #31
After fixing generated code, there seems to be no warnings now - could be closed with #48

[2017-11-07 17:28] #41 closed

[2017-11-07 17:28] #38 closed

[2017-11-07 17:28] #31 closed

[2017-11-08 22:50] amichnia opened #49 "Support for static methods"
Add support for give/verify/mock and generation for static methods.

[2017-11-13 10:11] krzysztofzablocki commented on #17
Sourcery automatically skips files that are generated by it :)

[2017-11-13 10:14] krzysztofzablocki commented on #26
Sourcery is distributed as an application, there is no code that gets compiled when you `pod install` since the tool is more preprocessor than a code dependency. Thats why we need to update Sourcery versions

[2017-11-13 13:11] amichnia commented on #26
@krzysztofzablocki - thank you very much for the info! We are currently thinking of how to handle that issues. The biggest challenge is that we want to make SwiftyMocky as easy to install and setup as possible, so while building Sourcery from sources works as a charm, it could be bottle neck for some of our users.

There are different ideas now, I thought about adding subspecs with "legacy" Swift

[2017-11-13 13:16] amichnia commented on #17
Thanks for the info, that really solves some problem for us :)
Is it like that for all `*.generated.swift` files? In one of our projects, we were using RSwift, which produced quite big `R.generated.swift` files, and so whole generation process time increased.

[2017-11-13 13:51] amichnia opened #52 "[docs] Prepare examples section in guides"
We need some good examples, that will help to present SwiftyMocky features.

[2017-11-13 13:52] krzysztofzablocki commented on #17
it will skip Sourcery generated files, name isn't taken into consideration at all, its just that all Sourcery files have the header saying they were generated by the tool and so skipped, if you want to skip other generated files then you'd need to use exclude manually

[2017-11-13 13:55] krzysztofzablocki commented on #26
for now Sourcery just has new releases for Swift versions, for swift templates we will be adding both 9.0 and 9.1 version of the bundled framework for now if we can make it work. Those problems will be gone once Swift ABI stability is done

[2017-11-14 02:33] nixzhu opened #53 "There is a typo in description"
<img width="500" alt="2017-11-14 10 31 34" src="https://user-images.githubusercontent.com/435208/32759973-0a8edcf6-c927-11e7-98d3-13d9b5408c5f.png">

[2017-11-14 10:57] amichnia commented on #53
Hi, thanks for info, we will update it :)

[2017-11-14 21:12] amichnia commented on #53
done

[2017-11-14 21:12] #53 closed

[2017-11-14 21:44] amichnia commented on #49
done

[2017-11-14 21:44] #49 closed

[2017-11-14 21:44] amichnia commented on #36
first approach is complete

[2017-11-14 21:44] #36 closed

[2017-11-16 08:39] amichnia commented on #26
I'm closing this issue for now. Current solution is more like workaround, we used our wiki repo, to maintain prebuilt sourcery binaries (sourcery 0.9.0).

Example script (best would be adding it to post actions in cocoapods):

**Usage**
[code]

**get_sourcery.sh**
[code]

Closing for now, but we should go back to this topic in 2.0.

[2017-11-16 08:39] #26 closed

[2017-11-17 01:00] amichnia opened #59 "Add third case to Parameter - .matching((ValueType)->Bool)"
At this point, we can use either wildcard .any, or explicit .value. It would be nice to have third option - matching, to be able to cover wider range of attributes.

[2017-11-17 12:26] amichnia opened #61 "Support for subscripts"
Support for subscripts in protocol definition.

[2017-11-17 12:28] amichnia opened #62 "Skip protocols that cannot be generated with warning"
Similar as in R.swift - we want to value stability. For protocols that cannot be mocked for some reason - we want to skip generation, and show warning with detailed description.

[2017-11-17 13:00] amichnia opened #64 "Version 1.0 release"
TODO:
 - regenerate docs
 - add changelog
 - check podspec - should be expandable on github?
 - bump version
 - pod trunk

[2017-11-17 21:40] Przemyslaw-Wosko commented on #52
i merged this PR, i think you added enough cases for now, lets close it :)

[2017-11-17 21:40] #52 closed

[2017-11-17 22:09] Przemyslaw-Wosko commented on #64
PR #65

[2017-11-18 08:04] #64 closed

[2017-11-18 14:05] Przemyslaw-Wosko opened #68 "Articles about SwiftyMocky"
We have quite good documentation, but we need articles that will introduce new users to concept of using this library.
I'd be nice to prepare following articles:
- Unit testing on iOS, best practices, how to write code to be testable
- SwiftyMocky - how to use it, how to start, live coding video?
- Comparison SwiftyMocky vs Cuckoo

@amichnia what do you think?

[2017-11-18 14:12] amichnia commented on #68
All seems fine to me. I’ll probably go for number 2 myself if that fits you.

[2017-11-20 09:57] PoorvaSingh09 opened #69 "Facing issue while running SwiftyMocky (both 0.9.0 & 1.0.0) in XCode 9"
XCode 9 gives compile time error when built with SwiftyMocky.
![mocky_error](https://user-images.githubusercontent.com/29882598/33012575-62d45226-ce07-11e7-8c3c-178b31d0f621.png)

[2017-11-20 10:08] amichnia commented on #69
@PoorvaSingh09 - could you provide error message? Looking into that

[2017-11-20 10:22] PoorvaSingh09 commented on #69
Ambiguous use of 'compare(lhs:rhs:with:)'
<img width="255" alt="screen shot 2017-11-20 at 3 51 57 pm" src="https://user-images.githubusercontent.com/29882598/33013657-d4643b92-ce0a-11e7-9f6a-20671bcb5958.png">
<img width="971" alt="screen shot 2017-11-20 at 3 52 08 pm" src="https://user-images.githubusercontent.com/29882598/33013658-d4ad7f1e-ce0a-11e7-84a3-a7b6d47afd35.png">

[2017-11-20 10:26] amichnia commented on #69
Ok, it seems it's and error with Swift < 4, where  parameter is both Sequence and Equatable. I'll upload fix and we'll go with 1.0.1 i think today. Thanks for info - will keep you informed.

[2017-11-20 10:36] amichnia opened #71 "Update testing on for older Swift versions."
At this point, our travis runs tests with same config as whole example project, so Swift 4 etc.

We might need environment, to constantly verify, if our setup is also valid for swift versions 3.x

[2017-11-20 14:17] amichnia opened #73 "SwiftyMocky 1.0.1 release"
Release v 1.0.1. Fixes and updates to documentation. Updated changelog, updated links and images for https://cocoapods.org/pods/SwiftyMocky

[2017-11-20 14:18] amichnia commented on #73
done

[2017-11-20 14:18] #73 closed

[2017-11-20 14:18] amichnia commented on #69
@PoorvaSingh09 - we just released version 1.0.1, should fix the issue: https://cocoapods.org/pods/SwiftyMocky

Closing.

[2017-11-20 14:18] #69 closed

[2017-11-20 14:37] amichnia opened #75 "Verify for properties"
Verify getters and setters being called. For setters, we might want to utilise Parameter concept, to verify explicit setters called.

In general, it could look something like:

[code]

Same concept for generation as for other mock cases, So Mock.Setter and Mock.Getter associated types maybe?

[2017-11-20 19:35] amichnia opened #78 "Support for multiple Given return values"
Would be nice, if given will support following:

[code]

[2017-11-20 19:58] amichnia opened #79 "[TBD] mock for classes - stubbing real implementations"
For some cases, it might make sense (might it?) to stub "real" implementations. That would require to enable adding `AutoMockable` not only for protocols, but also for non-final classes.

What Mock version could add is:
 - stubbing return values (otherwise super called?)
 - perform on method called (similar for properties?)
 - verify method calls and properties get/set calls

Thing to be discussed

[2017-11-20 20:02] amichnia opened #80 "Contribution guidelines"
We might need to specify some contribution guidelines and conventions.

[2017-11-20 20:45] Przemyslaw-Wosko commented on #79
Thanks for asking this question, IMO this is really tricky subject, and i don't know if its a good idea to give support for something that cannot be fully supported.

by non final classes you probably mean internal classes, so you can extract interface from them and fully mock it. Public classes are also final, so we can't do anything about them and we won't be able to mock 3rd party class (like P

[2017-11-21 07:14] PoorvaSingh09 opened #83 "Version 1.0.1 not working with XCode 8.3"
After upgrading to version 1.0.1, it works fine with XCode 9 but fails with XCode 8.3. Aren't we supporting backward compatibility?

<img width="1279" alt="screen shot 2017-11-21 at 12 41 52 pm" src="https://user-images.githubusercontent.com/29882598/33059258-86a3e812-ceb9-11e7-899a-1130755da9db.png">

[2017-11-21 11:36] amichnia commented on #83
Is it XCode 8.3 or 8.3.3 ?

[2017-11-21 12:57] Przemyslaw-Wosko commented on #80
what is left, we should remind of PR to link PR with ticket if exist. i will make quick PR latter and we are done for now.

[2017-11-21 12:59] amichnia commented on #83
Anyway - downloading XCode 8.3 and checking. Will probably have some info later today

[2017-11-21 14:08] amichnia opened #84 "Extending Matcher for all basic types."
For basic types, we should register default comparators.

Types to handle:

- Bool
- String
- Float
- Double
- Character
- Int
- Int8
- Int16
- Int32
- Int64
- UInt
- UInt8
- UInt16
- UInt32
- UInt64

[2017-11-21 15:50] amichnia opened #86 "Version 1.0.2 release"
Release version 1.0.2.

Including:

- #85
- #76
- #84
- #83
- #80
- #81
- #82

Add link to license, fix links on cocoa pods.org (for local assets like guides)

[2017-11-21 17:08] PoorvaSingh09 commented on #83
Hi Andrzej,

It was xcode 8.3.3

Thanks & Regards,
Poorva

On 21-Nov-2017, at 6:29 PM, Andrzej Michnia <notifications@github.com<mailto:notifications@github.com>> wrote:

[Email from a non-Nagarro source: please exercise caution with links and attachments]

Anyway - downloading XCode 8.3 and checking. Will probably have some info later today

—
You are receiving this because you authored the threa

[2017-11-21 20:31] amichnia commented on #83
@PoorvaSingh09 - problem seems to be solved now, will release 1.0.2 with fixes.

[2017-11-21 20:31] #83 closed

[2017-11-21 22:21] amichnia commented on #84
done

[2017-11-21 22:21] #84 closed

[2017-11-22 00:10] amichnia commented on #86
1.0.2 released.

[2017-11-22 00:10] #86 closed

[2017-11-22 00:22] amichnia opened #89 "Project rearrangement for multiple platforms"
As we want to cover multiple platforms, we need to rearrange a bit project structure, while allowing to share same tests and mocks for test cases.

[2017-11-22 00:24] amichnia commented on #17
Let's test exclude against R.generated.swift, and add some info in documentation. Seems that it's all needed to close that.

[2017-11-24 20:40] #59 closed

[2017-11-28 08:46] amichnia commented on #89
done

[2017-11-28 08:46] #89 closed

[2017-12-01 20:18] Rameshwar-Gade opened #92 "fatal error: [FATAL] stub return value not specified for ..... Use given!:"
Getting "fatal error: [FATAL] stub return value not specified for " after adding new unit test cases.

[2017-12-02 00:16] Przemyslaw-Wosko commented on #92
Could you add your unit test snippet here?

[2017-12-02 03:46] Rameshwar-Gade commented on #92
After registering matcher I am doing this

let cObservable: Single<MyStructReturnTyoe> = Single.error(DataError.emptyResponse)

        let exp = expectation(description: "loading error")
        connector.given(.APIName(card: .value(params), willReturn: cObservable))

        cObservable().subscribe(onError: { _ in
            exp.fulfill()

        }).disposed(by: bag)

       sut.APICall()

[2017-12-02 11:25] Przemyslaw-Wosko commented on #92
@Rameshwar-Gade Thanks for sharing!

i'd try just for debug use `.any` matcher, maybe there is an issue with matcher? its hard to say without rest of code.

if this will not work, try to put here more context of code, card struct / class, connector prototcol and i will try to reproduce your issue, we will fix it, if its libray bug

[2017-12-03 14:31] amichnia commented on #92
@Rameshwar-Gade - as far as I see, you are specifying given with exact value (some params - I suppose they are some kind of dictionary?).

There are several things to do, in order to solve your problem:
1. First of all - what version of SwiftMocky do you use?
2. Fatal error message you posted is not full I think? It should specify exact method and so on, just to be sure...

As for general things y

[2017-12-04 06:32] Rameshwar-Gade commented on #92
@amichnia ,@Przemyslaw-Wosko Thanks for the support, It's working now!

[2017-12-04 06:51] amichnia commented on #92
Great, closing in that case.

[2017-12-04 06:51] #92 closed

[2017-12-07 11:27] Przemyslaw-Wosko opened #93 "Invocations count"
Currently we can just describe how many invocations we are expecting.

[code]
We need to add ranges, for instance:
- at least once
- never
- moreThan
- lessThan

[2017-12-13 09:59] amichnia commented on #75
done

[2017-12-13 09:59] #75 closed

[2017-12-13 09:59] amichnia commented on #93
done

[2017-12-13 09:59] #93 closed

[2017-12-15 14:12] amichnia commented on #61
This is problematic. Current status is:
1. Sourcery does not have support for subscripts, because...
2. SourceKitten support for subscripts is limited (at this moment, at least from Sourcery perspective, it detects subscript parameters as method parameters - and that's all)

For now I will mark it as a blocker, but thinking about other solutions as well.

[2017-12-19 13:36] nagarro-vijaykumar04 opened #95 "Help Wanted - protocol confirming to another protocol"
Hi Team,

While integrating SwiftyMocky, we found one issue. Thought of sharing it here -
If one protocol, say B, is conforming to another protocol, say A and we use SwiftyMocky to generate mocks for both A & B. In that case, since methods of protocol A are not generated/added into BMock, code doesn't compiles and throws error as below:
"BMock doesn't confirm to the protocol A."

Please let us kno

[2017-12-19 13:50] Przemyslaw-Wosko commented on #95
Hi @nagarro-vijaykumar04,
Thanks for raising an issue!
So basically we have
[code]
 then we have
[code]
and we want to have mock that conforms to both protocols.

Have you tried with typealias?
[code]
or new protocol instead?
[code]
* i didn't tried it out*

 i will play with this case latter and let you know

[2017-12-20 06:23] nagarro-vijaykumar04 commented on #95
Hi,
Thanks for your swiftly reply!

The scenario mentioned above is same as your last point i.e.:
`protocol ProtocolAB: A, B {}`

As `protocol ProtocolAB` doesn't have the methods of protocols `A` & `B` as its own definition, while creating mocks for it compiler says, `ProtocolABMock` doesn't confirm with `protocol A` & `protocol B`

[2018-01-08 14:51] andlang opened #97 "Can’t generate mock for generics with type"
Hi,

I have an issue when I try to generate a mock from a protocol that has a function like the following:
[code]
Due to the `.Type` the generic is lost in the generation.

Do you know about this? And does a workaround exist?

[2018-01-08 15:22] amichnia commented on #97
Checking that, we might have issues with `.Type` - if so, I'll start fixing it right away. Thanks for the info.

[2018-01-08 15:50] amichnia commented on #95
@nagarro-vijaykumar04

Hi, I just verified and inheritance seems to work. Added new test to SwiftyMocky, to verify inheritance case for **version 1.02 +**.

Our test looks like that:

[code]

Generated mock `SimpleProtocolThatInheritsOtherProtocolsMock` **adopts both protocols**, and seems to be working fine.

It seems that your problem is not related to protocol inheritance. Anyway - if you could

[2018-01-08 15:50] #95 closed

[2018-01-08 18:10] amichnia commented on #17
done

[2018-01-08 18:10] #17 closed

[2018-01-09 08:51] amichnia commented on #7
We can separate it completely, using subspecs. It would look like:

1. Define `MockyAssert` instead of using `XCTAssert`
2. Define subspecs as following:
  - core (default): depends on XCTest, MockyAssert is type alias for XCTAssert
  - inapp: MockyAssert is plain assert
  - nimble: MockyAssert wraps Nimble expect (?)

There are few caveats here:
 - when not default subspec, CocoaPods does not con

[2018-01-09 08:57] amichnia commented on #80
Added, closing.

[2018-01-09 08:57] #80 closed

[2018-01-09 08:59] amichnia commented on #71
Removing from project scope, as it is not exclusive for any SwiftyMocky version.

[2018-01-09 10:42] amichnia commented on #97
@andlang - I have fixed that issue, its waiting for code review. I think it will not be released as 1.3 bug fix, but along with version 2.0, which should be available in next few days. Updating release date for the end of the week, but it might be sooner.

In general, that how the test added looks like now. Please note, that there is a requirement to register all custom Type's in order of matcher

[2018-01-09 15:00] amichnia opened #100 "Support for Self in protocol requirements"
We need to add support for protocol members based on `Self` requirement.

[2018-01-10 09:30] amichnia commented on #97
@andlang  - quick update, code get merged. New version will be available this week I think. I'm marking issue as done.

[2018-01-10 09:30] #97 closed

[2018-01-10 10:23] andlang commented on #97
Perfect, it works! Thank you very much!

[2018-01-10 12:06] szymesl opened #102 "Mocking objects with generic metatype as a method parameter"
During development I have encountered a problem with mocking the objects with generic metatype like:

`func example<T>(with typeParam: T.Type)`

After mocking an object with function like the one above, the resulting generated Mock fails the build with error
`Swift Compiler Error (in Mock.generated.swift): Use of undeclared type ‘T’`

I would like to ask if the issue is known for you and if there

[2018-01-10 12:11] amichnia commented on #102
@szymesl the problem should be already resolved. We are aware of that, and the fix is already on develop.

It will be in upcoming release, tomorrow or friday - we will release either 2.0.0 or 1.0.3 (depending if we prepare all things needed for 2.0)

[2018-01-10 12:14] szymesl commented on #102
Thank you for the fast reply! So I am looking forward to updating the SwiftyMocky.

[2018-01-10 12:15] #102 closed

[2018-01-10 12:21] pgorzelany opened #103 "Error: module compiled with Swift 4.0 cannot be imported in Swift 4.0.3 - SourceryRuntime"
Hi guys,

First of all thanks for all the hard work you've put into this project, it looks great. I wanted to try out SwiftMocky in one of our projects and hit an error right away at the mock generation phase.

I am using Xcode 9.2, Swift 4.0.3. I installed SwiftMocky (1.0.2) through Cocoapods (1.3.1) configured the mocky.yml file as instructed in the docs and run :

`Pods/Sourcery/bin/Sourcery.ap

[2018-01-10 12:47] Przemyslaw-Wosko commented on #103
@pgorzelany Thanks for reaching out, we will investigate this isssue.
I haven't checked Xcode 9.2 yet, i'm still working on 9.1. We described installation process under this page:
https://cdn.rawgit.com/MakeAWishFoundation/SwiftyMocky/f9a57ad0/docs/installation.html

Steps you can try out:
1) Make sure you have selected command line tools the same as xcode version you are using for project
2) try

[2018-01-10 13:48] amichnia commented on #100
done

[2018-01-10 13:48] #100 closed

[2018-01-10 13:57] amichnia commented on #78
Postopning - will not be part of 2.0.0

[2018-01-10 14:34] pgorzelany commented on #103
@Przemyslaw-Wosko thanks for the info! Since Xcode 9.2 comes with Swift 4.0.3 adding a new Sourcery binary compiled with Swift 4.0.3 would solve the problem.

[2018-01-10 14:38] pgorzelany commented on #103
@Przemyslaw-Wosko Changing Podfile.lock to update Sourcery to the latest version solved the problem. I think it should also be updated in SwiftyMocky so the latest version of Sourcery is installed automatically.

[2018-01-10 15:07] Przemyslaw-Wosko commented on #103
@pgorzelany
Glad to hear that, if you are interested in development or seek help with SwiftyMocky, join our Slack channel.

Regarding Sourcery versioning - good idea :)

[2018-01-10 17:59] amichnia commented on #7
for now, there is one additional `Custom` pod spec. It allows to override how assertions works, and drops XCTest dependency

[2018-01-10 17:59] #7 closed

[2018-01-12 11:27] amichnia commented on #102
@szymesl - version 2.0.0 is swift and ready :) Feel free to check it out.

[2018-01-12 11:27] amichnia commented on #97
@andlang Version 2.0 is ready, feel free to check it out :)

[2018-01-12 12:40] szymesl commented on #102
Great news! Thank you very much!

[2018-01-29 16:26] andlang opened #106 "Mock does not conform to protocol when functions differ only in their return type"
There is a problem when a protocol has overloaded functions where the signatures differ only in their return type. For example:

[code]
In that case only for the first function a mock is created and the build fails since the generated class does not conform to the protocol.

Is there a solution for the problem, except of renaming one of the functions?

[2018-01-29 19:17] Przemyslaw-Wosko commented on #106
@andlang
Thanks for rising issue, i belive this was resolved, and we had this case covered in ingegration tests.

We will try to fix this issue ASAP and release new minor version.

Just FYI, along with rised issues, you can also submit PR with failing tests for some unnusual cases :)

[2018-01-30 10:52] amichnia commented on #106
@andlang - looking into it, will try to have it covered until beginning of next week

[2018-01-30 12:32] amichnia commented on #106
OK, so this will require further concept work. First of all - even if we can avoid ambiguity by specifying return type, like:

[code]

That leaves us with question - what to do for perform and verify?

The typical usage will be:
[code]

Does it applies to both methods? Should it apply to both methods?

We can try some more advanced syntax for that particular case, like:

[code]

What do you guys t

[2018-01-30 12:34] Przemyslaw-Wosko commented on #106
@andrzejmichnia the solution you proposed seems to be nice and clear, how about other return types, like tuple?

[2018-01-30 13:30] andlang commented on #106
Thank you for replying so fast!
This solution with the `returning` parameter seems good for me!

[2018-02-13 00:54] kdawgwilk opened #109 "Handle NSObjectProtocol requirements"
SwiftyMocky does not currently handle the case for a protocol that inherits a requirement of NSObjectProcol.  The derived mock needs to be a subclass of NSObject for this to compile.

[2018-02-13 09:14] amichnia commented on #109
@kdawgwilk thanks for info, have you tried adding 'ObjcProtocol' annotation?

[code]

Maybe we should emphasise it in docs a little bit more, [full setup guide](https://cdn.rawgit.com/MakeAWishFoundation/SwiftyMocky/2.0.0/docs/setup-in-project.html)

[2018-02-13 09:24] #106 closed

[2018-02-13 09:28] andlang commented on #106
Thank you! It works perfectly 😊

[2018-02-20 15:37] Rameshwar-Gade commented on #103
Facing the same issue on Xcode 9.1 as well.

[2018-02-21 10:18] andlang opened #113 "fix for generic methods that differ only in return type"
I found a bug when generic methods differ only in a generic return type:

[code]
At least for that simple example I fixed it in #112. I’m not sure, if it still works, when the functions have several/other generic parameters.

[2018-02-24 21:42] amichnia commented on #113
Merged PR, I will try to release fix in upcoming week.

[2018-03-06 14:40] andlang opened #114 "Build error with XCode 9.3 beta"
I just tried SwiftyMocky with the newest XCode 9.3 beta. But I couldn’t compile it, since there is an ambiguous use of 'Matcher.register()' and 'Parameter.compare(lhs:rhs:with:)' when the parameters are arrays. I guess, this is related with changes in Swift 4.1.

[2018-03-20 19:44] kdawgwilk opened #115 "Compiler error with protocol using generic methods and types"
I have this protocol:
[code]

Which generated this code and fails to compile:
![screen shot 2018-03-20 at 1 44 15 pm](https://user-images.githubusercontent.com/7799267/37678833-d2523ed8-2c44-11e8-965f-03933d6ef685.png)

[2018-03-20 19:53] amichnia commented on #114
This is most probably reason. I don't have beta 9.3 now, and no way to get it. (I'm on cellular network for two weeks already, with no spare several GB ;) )

I'm planning to check it anyway, as soon as I sort my work environment.

[2018-03-29 19:06] kdawgwilk opened #116 "swift templates broken with sourcery when using Xcode 9.3"
I know this isn't really an issue with SwiftyMocky since the fix needs to happen in Sourcery but I wanted to bring it up over here since this where I got the swifttemplate from.  I also created an issue here  krzysztofzablocki/Sourcery#565

Error I get is here:
[code]

[2018-03-30 08:47] Przemyslaw-Wosko commented on #116
Can you isolate code that is responsible for this crash?

[2018-03-30 14:50] kdawgwilk commented on #116
Sourcery code?  Or swifttemplate code?

[2018-04-03 08:56] #114 closed

[2018-04-03 11:51] pgorzelany commented on #114
Are you planning to release a new pod version with this fix?

[2018-04-03 12:37] Przemyslaw-Wosko commented on #114
@pgorzelany
I'm currently working on automation improvements, to deliver updates as often as it's needed witout doing boring stuff. But in this case we can release minor version manually this evening.

[2018-04-03 13:54] beretis commented on #103
I'm having the same issue `error: /var/folders/j0/qlw1rfwd6fd_nqzvq_m0v9_80000gn/T/SwiftTemplate.build/main.swift:2:8: error: module compiled with Swift 4.0.3 cannot be imported in Swift 4.1: /var/folders/j0/qlw1rfwd6fd_nqzvq_m0v9_80000gn/T/SourceryRuntime.framework/Modules/SourceryRuntime.swiftmodule/x86_64.swiftmodule
import SourceryRuntime`

[2018-04-03 17:08] kdawgwilk commented on #116
What I am currently doing to be able to still run 9.3 is to install 9.2 as well and set the cli tools to use the 9.2 e.g. `sudo xcode-select -s /Applications/Xcode9.2.app/Contents/Developer` that way even though I am building with 9.3 the sourcery run script still uses 9.2 or Swift 4.0

[2018-04-04 19:42] pgorzelany commented on #114
@Przemyslaw-Wosko Any chance for a new cocoapods release this week? I don't want to push but I can't run my tests on Xcode 9.3 because of those build errors and I don't want to revert to the old Xcode :)

[2018-04-04 20:53] #115 closed

[2018-04-05 13:42] amichnia commented on #113
released in 2.0.0

[2018-04-05 13:42] #113 closed

[2018-04-05 13:51] amichnia commented on #116
Ok, guys, quick info. The good news are I just released SwiftyMocky 2.0.2 with all latest fixes (thanks a lot for input guys!!!)

The bad news are that Sourcery is not yet released for Swift 4.1. For now I prepared prebuilt sorcery for 4.1, but it is not final (use get_sourcery.sh 4.1 from SwiftyMocky folder). That means that it can work with flaws.

One of the limitations is that we cannot have a

[2018-04-11 21:45] kdawgwilk commented on #116
Sourcery has now released `0.12` that was built with Xcode 9.3 Swift 4.1 but There are now compiler errors with the SwiftyMocky code generated using the new `0.12` release :(

[2018-04-11 21:50] kdawgwilk commented on #116
Seeing weird stuff like this:
![screen shot 2018-04-11 at 3 49 49 pm](https://user-images.githubusercontent.com/7799267/38645069-0038a9ce-3da0-11e8-90b9-58a0bacc7f66.png)

[2018-04-11 21:53] kdawgwilk commented on #116
Looks like this is only when using `@discardableResult` attributes, thankfully I can remove them but seems like a breaking change

[2018-04-12 22:38] kdawgwilk commented on #116
Issue here krzysztofzablocki/Sourcery#596

[2018-04-12 23:16] kdawgwilk commented on #116
I was unable to get the issue to reproduce in a controlled environment so I would say this issue is good to close out

[2018-04-12 23:16] #116 closed

[2018-04-12 23:45] kdawgwilk commented on #116
I guess the reason I couldn't reproduce this was because you needed a `@discardableResult` attribute on a method that came after another method and I was only using one in my example so it wasn't happening.  But a fix was still added in this PR krzysztofzablocki/Sourcery#598

[2018-04-19 08:52] andlang opened #120 "Error with Swift 4.1 and dictionaries in mocks"
With Swift 4.1 mocks of a protocol like this won’t compile:
[code]

I’ll create a PR to fix this issue.

[2018-04-19 11:27] #120 closed

[2018-04-19 12:43] Przemyslaw-Wosko commented on #61
Since there was no activity in this subject, and i don't think that Sourcery will have this feature, i'm closing this issue.

[2018-04-19 12:43] #61 closed

[2018-05-02 12:48] Lifthanger opened #122 "Could use a Release of current develop branch"
Dear Developers,

my project uses SwiftyMocky (which is great btw.).
Unfortunately we only use releases in our productive environment.
In order to use SwiftyMocky with Xcode 9.3 I could use the content of the current develop branch as a release.

Thanks!

[2018-05-02 14:14] amichnia commented on #122
Hello, I need to retest latest changes a bit (guys fixed some additional problems - thanks!), but I think the release of 2.0.3 is an option. We don't have anything big pending, so it might be a good idea to have a stable 2.0.x release.

[2018-05-03 10:12] Lifthanger commented on #122
Thanks for your help!

[2018-05-03 10:12] #122 closed

[2018-05-29 16:19] GregoryMaks opened #123 "Mock property return value"
I have found no way to mock property return value. There is `Given` macro for fuctions to stub their implementation, but is there a way to do the same thing with property getter?

So I have the following protocol:

[code]

I cannot stub the `currentAuthorizationModel` getter by using `Given` macro because inside generated code it just does:

[code]

No reference to `methodReturnValues` to get the

[2018-05-30 07:57] amichnia commented on #123
@GregoryMaks hello, thanks for raising that issue. We had some discussion about that previously, and for now there is currently no Given for properties.

For the current options - I will suggest using setter. It will of course raise the count of set invocations by 1, so the whole test will have to take it under consideration.

As for developing this in Mocky - we are always open for new ideas. For

[2018-06-01 13:43] amichnia commented on #123
@GregoryMaks as for the perform, you could use currently existing perform:

[code]

It should generate itself right now for all the setters as well.

As for setting initial value, Given would not be my first choice. I would rather say:

[code]

Remember, that the Mock.Give, Mock.Property, Mock.Verify... associated types are the ones holding knowledge about type, and assuring type safety.

[2018-06-01 15:39] GregoryMaks commented on #123
@amichnia Yes, sure, I did mean to use already existing `Perform` method :).

About
[code]
I do not think that storing data (initial value) inside the mock is a good idea. Mainly because it makes the mock object contain some logic beside simple verification and stubbing abilities.

[2018-07-18 03:24] kdawgwilk opened #124 "[Xcode 10] Converting non-escaping value to 'Any' may allow it to escape"
All of the Perform static methods generated are failing to compile in Xcode 10 beta 4 with the following error:
[code]

I realize that Xcode 10 is a beta and so I wouldn't expect things to "just work" but wanted to bring it up here so that we are aware of the issue.  This will allow us to come up with some solutions throughout the beta period that can then be implemented when the final release com

[2018-07-25 09:41] amichnia commented on #124
Hi @kdawgwilk, thanks for raising this issue. I'm back from holiday, so I'll start looking into it. Still - until Xcode 10 GM is released, I will expect to have additional beta branch.

[2018-08-10 10:55] darecki commented on #124
The same happens on Xcode 10 beta 5.
@amichnia any progress on that?

[2018-08-31 11:44] amichnia commented on #124
Hi, work has started, we already have pr and we opened version 3.x project. Sorry for so much delay :)

[2018-08-31 11:57] amichnia opened #127 "Refine Parameter.value(...) handling - allow using raw values"
See if there are possible changes to use:

[code]

instead of:

[code]

[2018-08-31 12:04] amichnia opened #128 "Use Xcode extensions for inline mock generation"
Now the best approach to generate mock is to generate Mock.genereated.swift. Still, we do support inline generation, which opens additional possibilities.

For certain uses, it might be good to simplify generating these inline mocks, using xcode extensions.

@Przemyslaw-Wosko what do you think?

[2018-08-31 17:17] Przemyslaw-Wosko commented on #128
Could you tell little bit more about this process?

[2018-09-13 15:42] draperj commented on #124
Is there a current beta branch with this fix in place that can be used? I've had to avoid using Xcode 10 beta and GM due to a number of our projects using SwiftyMocky.

[2018-09-14 08:49] amichnia commented on #124
@draperj  If you use this branch, you should be able to use get_sourcery script. We already uploaded prebuilt binary for upcoming XCode version.

[2018-09-14 18:41] draperj commented on #124
I can confirm this does work with the Xcode 10 GM! Steps I followed:
1. Adjusted to "pod 'SwiftyMocky', :git => 'https://github.com/MakeAWishFoundation/SwiftyMocky.git', :branch => 'release/3.0" in PodSpec
2. Run Pod install
3. CD to SwiftyMocky pod folder
4. run the "get_sourcery.sh" command
5. Rerun your swiftymocky watch command
6. Things should run as expected now!

[2018-09-14 23:51] Przemyslaw-Wosko commented on #124
@kdawgwilk @draperj hmm, i fixed those issues a while ago, but seems that i forgot to inform you how to get new sourcery and branch with beta changes.

Where should i inform community about fixes and changes? should i edit Readme from master branch?
if you have any ideas, let me know :)

[2018-09-17 13:16] draperj commented on #124
@Przemyslaw-Wosko Readme on master makes sense to me.

[2018-09-18 14:06] pgorzelany-objectivity opened #129 "Xcode 10 sourcery compilation errors"
Hi guys,

First of all, thank you for your hard work on this project. It is a delight to work with and it has saved writing so much boilerplate code for me and my team.

Everything was working fine with Xcode 9 but after upgrading to Xcode 10 we are hitting what seems to be a Sourcery runtime error:

error: Error Domain=NSOSStatusErrorDomain Code=-1 "kCFStreamErrorHTTPParseFailure / kCFSocketError

[2018-09-18 14:46] draperj commented on #124
This seems to no longer be working for me, but I think it is related to the Sourcery dependency. When running the generate command I see the following:

Using configuration file at 'mocky.yml'
Scanning sources...
Found 9 types.
Loading templates...
Loaded 1 templates.
Generating code...
error: Error Domain=NSOSStatusErrorDomain Code=-1 "kCFStreamErrorHTTPParseFailure / kCFSocketError / kCFStreamEr

[2018-09-18 14:49] amichnia commented on #124
I will look into it, thanks for pointing this out

[2018-09-19 07:32] amichnia commented on #129
@pgorzelany-objectivity  I've been looking into it, I can't compile Sourcery in XCode 10 right now, so this is still open. There are several issues, also fo Sourcery dependencies. Some are due to the new compiler (it has problems with literals, that seems to be too complicated, lol). I already posted my foundings in Sourcery issue, we will see.

[2018-09-19 07:35] amichnia commented on #124
@draperj - we are still dependent on new Sourcery version, I might take some time before things get ready I'm afraid. We will keep you guys updated

[2018-09-19 08:48] amichnia commented on #124
@draperj  One more note. When using "get_sourcery.sh" script, you have to use a different path to the binary - `./Pods/Sourcery/bin/Sourcery.app/Contents/MacOS/Sourcery`

[2018-09-19 09:17] amichnia commented on #103
A general solution, for now, is to use "get_sourcery" script, (manually or as a post install script), and get prebuilt Sourcery binaries.

We will look into versioning issues in more detail, but for now I think we can consider this issue closed.

[2018-09-19 09:17] #103 closed

[2018-09-19 09:52] pgorzelany-objectivity commented on #129
@amichnia I can confirm that after executing:
`sh ./Pods/SwiftyMocky/get_sourcery.sh 4.2-xcode10`
and deleting the cache folder of Sourcery the Sourcery runtime errors went away.

The project is still not compiling since I am now hitting https://github.com/MakeAWishFoundation/SwiftyMocky/issues/124

As a side note, the --disableCache flag was not sufficient to remove Sourcery runtime errors. Only

[2018-09-19 11:03] amichnia commented on #129
@pgorzelany-objectivity have you tried to use `release/3.0` branch? It's still in progress, but as I recall fix for #124 should be already there, waiting for 3.0 to be released

[2018-09-19 12:15] pgorzelany-objectivity commented on #129
@amichnia using the release/3.0 and get_sourcery.sh 4.2-xcode10 fixed all issues.Waiting for the 3.0 release than :)

[2018-09-21 09:32] amichnia opened #131 "Simplify setup process"
We have several issues regarding SwiftyMocky setup and installation process. Possible improvements:

1. Verify command line tools
2. Allow to specify pair - Swift version + Xcode version (instead of manually re-running get Sourcery when errors)
3. Show warnings about support
4. Pre-generate yml config file ?? (not sure about that though)

[2018-09-21 09:41] amichnia commented on #127
I have submitted PR, It should work for all types expressible by literals.

[2018-09-21 09:43] amichnia commented on #124
Considering it done for now. As a temporary solution until 3.0 is released, please use `release/3.0` branch, and `get_sourcery.sh swift/4.2-xcode10`

[2018-09-21 09:43] #124 closed

[2018-09-21 09:48] amichnia commented on #71
I think we will look into that later, dropping from 3.0 for now. It's mainly maintenance and automation, so could be done after release

[2018-09-21 10:09] amichnia opened #132 "Fail test instead of crash for no given value etc."
Right now we are crashing tests when given is not specified. We should fail the test with a descriptive message instead.

[2018-09-24 09:28] amichnia commented on #78
@Przemyslaw-Wosko I'm finishing PR for sequencing. It got a bit bigger than I thought, as I also added policies for better mock control.

[code]

Similar for errors:

[code]

Also, as we might want to mix the stuff, new Given option is created:

[code]

Need some feedback about that part.

As for policies, I'm proposing two:

1. **StubbingPolicy** defined for mock in general, and per method stub i

[2018-09-25 13:35] amichnia opened #134 "Subscript Support"
Sourcery <3 added some time ago support for subscripts. We should definitely extend mock generation to support it.

[2018-09-25 15:38] amichnia commented on #123
@GregoryMaks Given for properties is getting into SwiftyMocky 3.0 release. It's still being developed, but it will look something like:

[code]

It's also going to support sequences, so you can specify additional, subsequent default return values

[code]

[2018-09-25 16:53] GregoryMaks commented on #123
@amichnia Oh, that looks nice indeed. I did not work with sequences before and can hardly imagine will that be a good thing or complicate the understanding, but we'll see I guess 🙂.

Also about the implementation. I had a nearly-ready PR, but I did not manage to write Unit tests for it. If you are interested in what I've done you can take a look at the latest commits here https://github.com/Gregor

[2018-09-25 16:55] GregoryMaks commented on #123
And thanks for you have been doing so far, this is the best mocking framework for Swift out there! Simple and powerful as it should be.

[2018-09-26 12:32] amichnia commented on #129
We released 2.1.0 with Xcode 10 support. 3.0 will come soon. Branch `release/3.0` would be removed soon.

[2018-09-26 12:32] #129 closed

[2018-09-27 08:22] SergeyKovalenko opened #137 "Fix: Mocks for a protocol with associated type constrained by `where` clause"
Is there any way for generating mock for a protocol like this:
[code]
Looks like mock template can't handle `where` clause  in `associatedtype` annotayion:
[code]

[2018-09-27 10:21] amichnia commented on #137
@SergeyKovalenko the fix is temporarily on `release/3.0.0` branch. We are aiming to have it reviewed and released by the end of the week.

If you really need it, you might check this branch out, I'll be glad for any feedback regarding SwiftyMocky 3.0. Just please have in mind, that as we are still working on it, it might be subject of changes.

[2018-09-27 22:47] SergeyKovalenko opened #138 "Fix: Protocols with generic methods"
Mock is not generated properly for such a protocol using SwiftyMocky (2.0.3):
[code]
however, it works for:

[code]
Is there any limitation for generic methods?

[2018-09-28 07:51] amichnia commented on #138
@SergeyKovalenko  Thanks for keeping us busy :) To answer your question, there are still unfortunately some limitations. Sourcery does not fully handle generic methods/constraints (yet?), although they added a lot in this area recently.

That means we have to do some parsing on our own, and with limited data (we have not tested every possible case), it leaves rooms for errors. Above is clear examp

[2018-09-28 16:28] arrrnas opened #139 "Mocking functions with unnamed parameters results in compilation errors"
[code]
results in
[code]
which is an invalid enum case since it has a colon at the end.

[code]
using `SwiftyMocky 2.1.0`

[2018-09-28 16:35] arrrnas opened #140 "Mocking functions with parameters named "for" result in compilation errors"
[code]
results in
<img width="960" alt="screen shot 2018-09-28 at 7 33 23 pm" src="https://user-images.githubusercontent.com/16186741/46221311-6ccfe300-c355-11e8-894d-4f3318748da5.png">
<img width="1013" alt="screen shot 2018-09-28 at 7 34 13 pm" src="https://user-images.githubusercontent.com/16186741/46221346-82450d00-c355-11e8-9024-a2d0fb6ef8bf.png">
[code]
using `SwiftyMocky 2.1.0`

[2018-09-28 18:54] amichnia commented on #139
@arrrnas thanks for raising this, we were missing some edge cases. As all of these small issues, I will include it in 3.0.0

[2018-09-28 18:56] amichnia commented on #140
@arrrnas thanks for raising this. This is probably problem that will be caused by any keyword. While it should be avoided, we would have to handle this case.

[2018-09-29 10:16] amichnia commented on #127
v3.0.0

[2018-09-29 10:16] #127 closed

[2018-09-29 10:17] amichnia commented on #78
v3.0.0

[2018-09-29 10:17] #78 closed

[2018-09-29 10:19] #123 closed, assigned to GregoryMaks, amichnia

[2018-09-29 10:19] #137 closed, assigned to amichnia

[2018-09-29 18:07] #138 closed

[2018-09-29 18:09] amichnia commented on #134
Done in v3.0.0 with * - needs manual annotations for generic subscripts

[2018-09-29 18:09] #134 closed

[2018-09-30 18:02] Przemyslaw-Wosko commented on #140
Seems like its finished. #142

[2018-09-30 18:02] #140 closed

[2018-09-30 18:03] Przemyslaw-Wosko commented on #139
Seems like its done in #142

[2018-09-30 18:03] #139 closed

[2018-09-30 18:13] Przemyslaw-Wosko commented on #132
General workaround for xcode to fail test without crash and handling not stubbed mocks with nice error handling is done. Whats left are minor improvements for methods that throws and protocol with initializers. I think we might want to close this issue and create another ones for future versions.

[2018-09-30 18:13] #132 closed

[2018-09-30 18:16] Przemyslaw-Wosko commented on #62
I found way to leave warinings in console, when building project, but there is really hard to make it from swifttemplate. This needs to wait till we find a way to move some swift code from swifttemplate file, to be able to rise those warnings.

[2018-09-30 18:20] Przemyslaw-Wosko opened #144 "Refactor swifttemplate"
Our swifttemplate, file that is responsible for mocks generation is 1700 lines long. Thats pretty bad for future improvements, it doesn't really slow us down right now, but might be an issue in future.

We have to find a way with Sourcery contributors, to be able use code from external libraries in swifttemplate. That way we would be able to reduce this file and write some tests for those classes.

[2018-09-30 18:51] amichnia commented on #144
We also need actual tests for template itself. Right now we just build and test if output compiles, but this always opens room for errors. With some more structured approach we will be just able to test all possible scenarios (or near to it).

[2018-10-02 14:30] amichnia opened #146 "Update and refactor documentation"
Project have grown and we need to update and redo documentation. Main goal would be to reduce entry cost and make it easier for someone not familiar with SwiftyMocky to set it up for his project.

That might include some live coding video, showing setup and basic features.

[2018-10-02 14:32] amichnia opened #147 "Refine docset, making it more usable with, for example, Dash"
There are many tools that can import docset. Dash automatically founds our auto-generated docset in GitHub, but it is not very usable, and badly structured.

We need to prepare docset / cheatsheet for Dash/other tools.

[2018-10-03 18:09] Przemyslaw-Wosko opened #149 "Integration with projects that already uses Sourcery"
Our guide currently doesn't really describe, how to setup SwiftyMocky, when Sourcery is already intergrated.

In my opinion, simple and quick guide for Cocoapods project will be sufficient.

[2018-10-06 14:51] laxmorek opened #150 "`No such module 'Sourcery'` build error message."
**Info**
Project doest not compile when I add `SwiftyMocky` via CocoaPods only to Test Target.

**Error message:**

<img width="730" alt="zrzut ekranu 2018-10-6 o 16 31 49" src="https://user-images.githubusercontent.com/4774319/46572423-b9cf3d00-c985-11e8-8ff2-54ba40164ba7.png">

**Podfile:**
[code]

**Workaround:**
Problem does not occur when I change my `Podfile ` to:
[code]
or
[code]

**Expecte

[2018-10-06 15:10] laxmorek opened #151 "Better assertions error messages."
We can take an example from `Quick/Nimbe` lib:
<img width="1378" alt="zrzut ekranu 2018-10-3 o 20 54 16" src="https://user-images.githubusercontent.com/4774319/46572691-775c2f00-c98a-11e8-8f0e-c2f75f7b8130.png">

At the moment `SwiftyMocky` generates hard to understand communicates:
<img width="1390" alt="zrzut ekranu 2018-10-3 o 20 54 08" src="https://user-images.githubusercontent.com/4774319/465

[2018-10-06 15:26] laxmorek opened #152 "Better support for `SwiftyMocky` configuration in `.sourcery.yml` file."
At the moment it is possible to configure `SwiftyMocky` using `.sourcey.yml`

[code]

It will be nice to expand `SwiftyMocky` configuration in this file with better (self-explanatory) structure.

For example
[code]

It gives possibility to Sourcery already users to keep `SwiftyMocky` separated without the need for create `.mocky.yaml`.

[2018-10-06 15:35] Przemyslaw-Wosko commented on #152
I fully agree, to simplify configuration, this may not be perfect solution for project to use shared file for SwiftyMocky and other sourcery templates, but simpler for sure.
This feature will be transparent, and we still should support old way of providing configuration.

@andrzejmichnia What do you think about this idea?

[2018-10-06 16:40] laxmorek opened #153 "Consider adding SwiftLint."
Consider adding SwiftLint.
https://github.com/realm/SwiftLint

Which rules should be turned on?

[2018-10-06 16:45] laxmorek opened #154 "`weak` attribute in protocols"
Future releases of Swift will not support `weak` attribute in protocols declaration. We should handle it to keep project buildable.

<img width="1320" alt="zrzut ekranu 2018-10-6 o 18 44 36" src="https://user-images.githubusercontent.com/4774319/46573588-e2603280-c997-11e8-9839-e1f225b252ba.png">

source: `SwiftyMocky/SwiftyMocky-Example/Shared/Example 1/SimpleProtocols.swift`

[2018-10-06 16:49] Przemyslaw-Wosko commented on #153
I do not approve adding this tool for this codebase for 2 reasons:
- having SwiftLint for 10 classes looks like overkill
- There is no need to Lint tests or generated template, because too few rules we might actually use :/

In my honest opinion, having this tool here will be only burden.

[2018-10-06 16:49] #153 closed

[2018-10-06 16:51] Przemyslaw-Wosko commented on #154
Instead of creating new issue, i'd propose to add comment to existing issue, look at #71.
Closing in favour of already opened issue.

[2018-10-06 16:51] #154 closed

[2018-10-06 16:54] Przemyslaw-Wosko commented on #71
Regarding #154, i'm adding it here as reminder

[2018-10-07 08:04] laxmorek commented on #153
That was only considerations. I understand your arguments and I agree with them. :)

[2018-10-07 14:42] laxmorek commented on #144
According to this [examples](https://github.com/krzysztofzablocki/Sourcery/tree/master/SourceryTests/Stub/SwiftTemplates) it is possible to import one template into another (inline). Importing swift files it is possible too.

I discussed about it with @Przemyslaw-Wosko via Hangouts. We will handle this refactoring.

[2018-11-05 17:53] repl-ullas-ml commented on #150
@laxmorek May be adding -DMocky as the other swift flags shall resolve this issue.

[2018-11-18 14:12] amichnia commented on #152
@Przemyslaw-Wosko @laxmorek I like it. I understand this is additional option, so current mock.yml setup should work in parallel?

I created v3.1 milestone, I'm adding this to scope.

[2018-11-18 14:16] amichnia commented on #131
I'm planning to have it for version 3.1. All possible help is welcome.

[2018-11-26 18:16] Przemyslaw-Wosko opened #159 "Verify poperty setup"
Swifty mocky doesn't recognize invocation, when generated Verify constructor used without parameters, its seems like minor bug.

Protocol:
[code]

lets say i want to test, if my class under test setup callback for another dependency
[code]
and i want to test it:
[code]
Test will fail on this line, because it doesn't recognize this invocation

[code]
This will pass, i think we might want to fix thi

[2018-12-06 11:33] nfgrilo opened #160 "Fix: Functions with protocol associated types as argument"
Having a function with an argument with type of a protocol associated type makes mock generation fail to compile:

[code]

This will generate the following code, as of SwiftyMocky 3.0.0:
[code]

Both `Verify.doSomething2()` and `Perform.doSomething2()` will fail with error `'ValueType' is not a member type of 'T'`. It looks like `<T: ProtocolWithAssociatedType>` is missing from the functions signa

[2018-12-06 14:19] amichnia commented on #160
Thanks for the info, I will look to the on the weekend. We are actually delayed with 3.1 release, so it should be a part of it (at least one good thing out of it) :)

[2018-12-06 14:39] nfgrilo commented on #160
Great @amichnia! Thank you for your prompt reply :)

[2018-12-06 14:46] amichnia commented on #159
@Przemyslaw-Wosko These are two different `Verify` cases. First one is for getter, second is for setter:

[code]

So actually it seems the behaviour seems correct:

`Verify(sometingThatImplementsSomeProtocol, .someProperty)`

is checking if you ever used getter on that property.

The case is, that we have a nice thing `.someProperty(set: ...)` for setters, while making it `.someProperty(get: ???wh

[2018-12-19 18:53] DanielZanchi opened #161 "UITests always FAILS"
I'm having a problem with the UITest target. I have the _Mock.generated.swift_ file inside the target.
my podfile is:
[code]

When I try to run the tests inside the _FuelTrackerUITests_ target I get this error only if the _Mock.generated.swift_ file is there:

The other target _FuelTrackerTests_ works fine.
Anyone can help?

[2018-12-19 18:59] amichnia commented on #161
@Danny182 Hi, I will look into it on weekend. We are just before release, so there is high chance it will be shipped next week with 3.1

Stay tuned :)

[2018-12-23 17:27] dangthaison91 opened #162 "Support separate mock into multi files"
I want to generate mock for each protocol into a file instead of using only one file `Mock.generated.swift` as now. Is there an option to do it?

[2018-12-25 18:03] dangthaison91 commented on #162
Thanks @Przemyslaw-Wosko

[2018-12-25 18:03] #162 closed

[2019-01-06 01:53] TimeDelta opened #163 "Compilation error with generic function that throws"
I have a function in a mocked protocol (NumericSampleUtil) declared as such:
[code]

Note that the only way for the compiler to infer the type of `Type` is by the return type.

When SwiftyMocky generates the `Given: StubbedMethod` subclass for `NumericSampleUtilMock`, it does the following:

[code]

However, there is no return type for the compiler to use when trying to discern what `Type` should

[2019-01-09 14:02] amichnia commented on #163
Your intuition is correct, this is probably special case we will have to handle, by adding parameter just to infer type.

I added it to 3.1 fixes, but we are both (me and Przemek) so busy with work, that I cannot guarantee we will takle it with next release

[2019-01-09 15:45] amichnia commented on #159
OK, hopes that clarified topic, closing.

[2019-01-09 15:45] #159 closed

[2019-01-11 10:40] amichnia commented on #160
@nfgrilo it is done, we will release soon I hope

[2019-01-11 10:40] #160 closed

[2019-01-12 01:05] coryroloff opened #165 "Swift Package Manager"
Hello,

I was wondering if there are plans to support the Swift package manager? Apologies if it’s been asked before. I didn’t see any tickets referencing it though.

Thanks!

[2019-01-12 14:38] Przemyslaw-Wosko commented on #165
Hi,
First of all do you have any particular need to use SwiftyMocky with SPM?  What is the reason that you asking for it.

On the other hand - currenltly we think about supporting linux platform and go for server side Swift.
That would require SPM support and its just a matter of time.

[2019-01-12 23:19] Przemyslaw-Wosko commented on #165
I'm glad that you love it 😊
If you will have a need to integrate our library with SPM, then we can work on this. Just give us heads up that you will need this for sure. For now we have urgent needs for automation testing of Carthage integration and fixing bugs for generics.

For futher discussions please join our Slack ;)

[2019-01-12 23:23] #152 closed, assigned to laxmorek

[2019-01-13 09:57] amichnia commented on #165
@coryroloff @Przemyslaw-Wosko I already checked SPM (ani Mint) integration topic. I would love to see it done, but there is some impediment - we are using swifttemplate, which does not work with SPM. I see some options to overcome it, but as Przemek said, we have some fixes to do, and we already delayed with release.

So, to sum up, enabling spm and mint is a bigger topic I will definitely address

[2019-01-14 16:43] nfgrilo commented on #160
Thank you so much @amichnia 🙏🏻 👍

[2019-01-19 13:35] lucabartoletti opened #166 "Checking if an object instance is passed as a parameter"
I don't understand what I'm doing wrong with the following code.

I want to verify if the method `show` is called with the parameter I expect
The parameter is a mock object, I registered a matcher to look for pointer equality.

If I use .any I can see that the method is called
If I use the debugger I can clearly see that the object passed is the same instance
If I set a breakpoint in the matcher c

[2019-01-31 11:19] laxmorek opened #168 "`File 'Mock.generated.swift' is part of module 'Companion'; ignoring import` warning"
I am using `SwiftyMocky` via CocoaPods. According to `podspec` file I can use `SwiftyMocky` as `Core` and `Custom`.

I assumed that `Core` is for tests targets and `Custom` is for non-test targets (please correct me if I am wrong).

According to above assumptions my `Podfile`:
[code]

Everything works fine but it generates annoying Xcode warning:

<img width="1508" alt="zrzut ekranu 2019-01-31 o 1

[2019-01-31 11:39] amichnia commented on #168
@laxmorek good point. I think removing it might be a good idea.

While you can use `SwiftyMocky/Custom` for prototyping (we did it once and seems to kind of work), please be careful, as it was never intended to be used in production codebase.

I think we will rename it to `SwiftyMocky/Prototyping`, or create another subspec just for that case.

[2019-01-31 12:55] laxmorek commented on #168
I can rename it in my PR, what do you think? Should we wait or do it now? :)

[2019-02-07 16:11] mpdifran opened #169 "No support for inout parameters"
SwiftyMocky does not properly support inout parameters in methods. Here's an example class that shows the issue:

[code]

Inside the generated class:

[code]

[2019-02-07 16:26] amichnia commented on #169
@mpdifran looking at it. I will try to fix it soon

[2019-02-07 19:51] mpdifran opened #170 "Generated classes should be public by default"
Generated classes should be `public` by default (or at least configurable). The use case is I have a framework that exposes some protocols that need to be mocked for tests. Since I can't have the containing app generate the mocks for the framework, I need to expose a test framework containing the framework's generated mocks. This is not useful unless the mocks are `public`.

I don't see any reason

[2019-02-07 21:09] mpdifran commented on #170
There is currently a workaround where you can `@testable import` the framework, but I still think this change should be made.

[2019-02-08 09:29] amichnia commented on #170
@mpdifran Funny, I literally have the same case right now :) I have a closed source framework that is distributed with public interfaces mocks (in separate module).

As you said, `@testable import MyFrameworkMocks` is a good workaround. But you are right, that there should be no issue with making stuff public.

I will add it to configuration then, still I'm not sure whether public should be defaul

[2019-02-08 09:32] Przemyslaw-Wosko commented on #170
@amichnia i think that you are right! make things public doesn't hurt, but i'd use `open` instead of `public`

[2019-02-08 13:27] mpdifran commented on #170
Ok, I'll update the PR to use `open` instead.

[2019-02-13 10:10] laxmorek commented on #168
MR with fix has been merged.

[2019-02-13 10:10] #168 closed

[2019-02-15 11:25] trimonovds opened #173 "'SwiftyMocky/SwiftyMocky-Swift.h' file not found when use_modular_headers! globally in Podfile (cocoapods 1.6.0.beta.2)"
We use latest at the moment version of Cocoapods (1.6.0.beta.2) and use_modular_headers! flag is set globally. When build process starts we get Lexical or Preprocessor issue - 'SwiftyMocky/SwiftyMocky-Swift.h' file not found in MockySetup.m. Changing #import <SwiftyMocky/SwiftyMocky-Swift.h> to #import "SwiftyMocky-Swift.h" solves the problem. Is there an opportunity to support use_modular_headers

[2019-02-15 11:28] trimonovds commented on #173
We've tried to set ":modular_header => false" for 'SwiftyMocky' but it doesn't work too.

[2019-02-15 11:43] amichnia commented on #173
@trimonovds I need to check how to do it right. It might require some additional configuration, but maybe I'll find some generic solution. Thanks for raising it up!

[2019-02-15 13:36] trimonovds commented on #173
Thanks! I look forward to the update

[2019-02-17 09:57] amichnia commented on #166
@lucabartoletti I finally found time to check the issues you wrote about.

If you place breakpoint in test, and inspect it line by line, you will eventually see something like that inn console:
[code]

The case is, that you defined comparator for InstanceLoginGetDetailsStepMock, but the actual comparison is being done inside `show(step: ...)` method.

So, if the show is declared like that (in test

[2019-02-17 09:58] amichnia commented on #166
@lucabartoletti let me know if that fixed the issue, closing it for now.

[2019-02-17 09:58] #166 closed

[2019-02-17 09:59] amichnia commented on #170
Merged PR from @mpdifran - closing this

[2019-02-17 09:59] #170 closed

[2019-02-17 10:13] amichnia opened #174 "Better handling Matcher issues"
Currently, all matcher errors are printed to console only. As we have some kind of test observer now, we should be able to show them in the context of the test at least.

[2019-02-17 10:14] amichnia commented on #174
Should be done together with #151

[2019-02-17 10:53] amichnia commented on #150
@laxmorek I tried to reproduce that but did not succeed. This is Podfile I used:

[code]

I was able to use it with success, generate mocks, etc.

There are several things you might check:
 - as @repl-ullas-ml mentioned, verify if -DMocky is set in flags, maybe you somehow hide/override it. It is required, as there are unfortunately leftovers from sourcery template in Mock.generated (including imp

[2019-02-17 10:53] #150 closed

[2019-02-17 11:29] amichnia commented on #173
@trimonovds It seems that it should be enough to set "defines module" to true for the SwiftyMocky target. I will add this to podspec.

It will be part of the 3.1.1, but I still need to test it and see if it solves the issue.

[2019-02-17 12:31] amichnia commented on #173
Ok, after retesting. From 3.1.1 (currently on develop):

1. Either use post installer actions to add 'GCC_PREPROCESSOR_DEFINITIONS' => 'STATIC_LIBRARY=1'
2. Or use subspec 'SwiftyMocky/StaticLibrary' when you don't want to `use_frameworks` in the podfile

It would be part of the next release, you can check if it solves the problem using develop branch

[2019-02-17 12:31] #173 closed

[2019-02-17 12:56] amichnia commented on #169
Done. Will be part of 3.1.1

[2019-02-17 12:56] #169 closed

[2019-02-17 16:57] amichnia commented on #163
@TimeDelta This goes to version 4.0. I inspected the issue and there are more things to refactor with generics inferred from return type. Doing it now would require too much hacky workarounds, I'd prefer to do it later, with proper unit testing and stuff.

[2019-02-17 17:00] #149 closed

[2019-02-17 17:51] amichnia commented on #161
@DanielZanchi

1. In the main App target use 'SwiftyMocky/Prototyping' subspec. The case is that SwiftyMocky uses XCTest by default, which is not accessible from the main app. That's why we have prototyping subspecs.

2. It seems this linker error is not SwiftyMocky issue. In general, you cannot use/subclass/adopt any code from the main app from the UI tests target. I tried to create an instance o

[2019-02-17 17:51] #161 closed

[2019-02-19 10:58] trimonovds commented on #173
Thanks @amichnia! SwiftyMocky rocks!=)

[2019-02-21 22:29] TimeDelta commented on #163
No rush. I'd rather wait and have it done right. Thanks for the update.

[2019-03-01 07:35] spaluchiewicz opened #175 "Handling Self as generic parameter for return type"
Mock generated for below protocol is not correct due to fact that Self isn't mapped into type.
Is it possible to force this mapping with current SwiftyMocky version?
(If not is there a plan to include this on feature list for upcoming release?)

[code]

[2019-03-08 05:18] repl-ullas-ml opened #176 "How to stub and return values for things that you don't own ex UIApplication,UIDevice"

[2019-03-13 13:56] maciej-gad-benefex opened #177 "error: Compile Swift Module 'SourceryRuntime' (27 sources)"
It looks like a new `Sourcery` version (0.16) has breaking changes. After updating `SwiftyMocky` and `Sourcery` to the newest versions using this CocoaPods call:

[code]

and trying to use `SwiftyMocky`:

[code]

I've got this error message:
[code]

The workaround for this issue is to downgrade `Sourcery` to `0.15.0` version. In your `Podfile` change:
[code]
to:
[code]
and then remove `Podfile.loc

[2019-03-14 10:41] pballart opened #178 "'Product' is ambiguous for type lookup in this context"
Hello! I am trying SwiftyMocky in a project and found a problem.
I have a protocol that I want to be mocked. It defines a function which takes a parameter of type `Product`. This `Product` is a struct defined in a third-party framework which is imported to the project. I defined in the `mocky.yml` file to import it as well for the `Mock.generated.swift` file.

The mocks get generated correctly but

[2019-03-14 16:22] amichnia commented on #178
@pballart Try using Swifty Mocky 3.2-pre

Thanks for raising, I also recently noticed this issue. Sorry for inconvenience, naming it Product was not the best idea ever 😅

[2019-03-14 16:26] amichnia commented on #177
@maciej-gad-benefex Thanks for raising, its on the pipeline

[2019-03-15 11:58] pballart commented on #178
@amichnia version 3.2-pre works fine 🎉
Thank you!

[2019-03-28 11:33] Beniamiiin opened #179 "Build error with XCode 10.1 (10B61)"
XCode gives compile time error when built with SwiftyMocky. Project on Swift 4.2.

<img width="1408" alt="Screenshot 2019-03-28 at 14 30 42" src="https://user-images.githubusercontent.com/4854239/55154615-4c4adf00-5166-11e9-9036-4126d42145bb.png">

`case m_setRemoteConfig__config(Parameter<[String: String]>)`

[2019-03-28 13:18] fandor92 opened #180 "Build error with Xcode Version 10.2 (10E125)"
After upgrading to Xcode 10.2, i get "SWIFT_VERSION '3.1' is unsupported, supported versions are: 4.0, 4.2, 5.0. (in target 'SwiftyMocky')" error when compiling. When i try to manually change the swift version of the pod target, i get several other compile errors.

[2019-03-28 13:24] draperj commented on #180
Same here as well.

[2019-03-28 13:25] amichnia commented on #180
@draperj @fandor92  Hi guys - I will look into that. Could you try first with pre-release version? it would be `pod 'SwiftyMocky', '~> 3.2.0-pre'`

[2019-03-28 13:28] fandor92 commented on #180
Hey, thank you for your quick response. Already tried, did not solve the problem.

[2019-03-28 13:59] Beniamiiin commented on #179
It works with `pod 'SwiftyMocky', '~> 3.2.0-pre'`.

[2019-03-28 14:22] draperj commented on #180
This resolved it for me, I can also set the SwiftyMocky pod version in the "Pod" project to Swift 4 to resolve the issue. I am now experiencing the below when running:
Pods/Sourcery/bin/sourcery --config mocky.yml

Error:

[2019-03-28 15:06] draperj commented on #180
Looking into this further, using 3.1.1 and changing the SWIFT_VERSION worked. Switching to 3.2.0-pre caused me the issues OP described.

[2019-03-29 17:16] fmirault opened #182 "Generation issue"
Hi !

I just installed SwiftyMocky in my project (`pod 'SwiftyMocky', '~> 3.2.0-pre'`) I have only one protocol to be mocked for now.
When I run the command line to generate mocks, I have the following error :

`error: Error Domain=NSCocoaErrorDomain Code=4 "“SwiftTemplate” couldn’t be moved to “Mock.swifttemplate” because either the former doesn’t exist, or the folder containing the latter doesn’

[2019-04-01 12:37] Rag0n commented on #180
Hi! The version 3.2.0-pre doesn't solve issue for me as well.
`error: Error Domain=NSCocoaErrorDomain Code=4 "“SwiftTemplate” couldn’t be moved to “Mock.swifttemplate” because either the former doesn’t exist, or the folder containing the latter doesn’t exist."`

[2019-04-01 20:18] mpdifran commented on #180
Anything I can do to help get version `3.2.0-pre` working?

[2019-04-02 08:32] amichnia commented on #180
@mpdifran  I will look into it. I allocated time for that for today and tomorrow. In the meantime - as a workaround you can check, Sourcery should be also available via brew I think. Or they can have working binary, this wan is a bit outdated

[2019-04-02 14:25] amichnia commented on #182
@fmirault  Hi, one thing, Could you try:
1. Remove `~/Library/Caches/Sourcery`
2. Run Sourcery it with --disableCache flag?

If that does not help, pleas provide:
- the command to start generation
- version of Sourcery (if you use get_sourcery.sh script)
- version of Xcode / Swift / CommandLine tools

[2019-04-02 14:27] amichnia commented on #179
@Beniamiiin Good to hear. Final 3.2 is on its way, we will also address some issues with Xcode 10. I consider this issue handled then :)

[2019-04-02 14:27] #179 closed

[2019-04-02 14:28] #178 closed

[2019-04-02 14:31] amichnia commented on #180
@Rag0n @mpdifran @draperj I'm working on fully migrating to Swift 4+. As for the generation itself, I found that removing Sourcery cache was enough. I did `~/Library/Caches/Sourcery` and I am still able to use Sourcery obtained with "get_sourcery" script.

Still, there are some changes I need to address, stay tuned.

[2019-04-02 20:58] torstenlehmann commented on #182
Have the same Issue like described.

I did 1. and when I do 2. I get

[code]

To me it looks like the file is just not generated.

[2019-04-02 21:01] amichnia commented on #182
@torstenlehmann  could you give a bit more details?

[2019-04-02 21:30] torstenlehmann commented on #182
Already described here: https://github.com/krzysztofzablocki/Sourcery/issues/745

Don't have further info.

[2019-04-03 07:05] fmirault commented on #182
@amichnia Thank you for your answer. I tried your 1 and 2, and I got the exact same error as @torstenlehmann.

I'm using Xcode 10.2 (10E125), Sourcery (0.16.0) from Podfile.lock, cocoapods 1.6.1, and the command line I tried was `Pods/Sourcery/bin/Sourcery.app/Contents/MacOS/Sourcery --config mocky.yml --disableCache` and also `Pods/Sourcery/bin/sourcery --config mocky.yml --disableCache`

[2019-04-03 14:30] amichnia commented on #182
@torstenlehmann @fmirault @maxmamis

If you are using older SwiftyMocky with Sourcery 0.16.0, there is an issue with `arguments` being renamed to `argument`. I was getting similar errors.

SwiftyMocky 3.2.0 is now released, it works on top of Sourcery 0.16.0, with both Swift 4.2 and 5.0. Should fix it 🤞

[2019-04-03 14:31] amichnia commented on #180
@Rag0n @mpdifran @draperj @fandor92 SwiftyMocky 3.2 is released. Should work now properly with Xcode 10.2

[2019-04-03 14:42] amichnia commented on #176
@repl-ullas-ml the idea of SwiftyMocky is to simplify unit testing, by providing mock generation. We want to encourage to do the unit testing right - which also means to provide proper layer separation. To do it, you should interface everything, that could be a dependency.

In other worlds, if you have `UIDevice`, you should create `Device` protocol which describes desired features. Then you can m

[2019-04-03 14:42] #176 closed

[2019-04-03 14:46] amichnia commented on #175
@spaluchiewicz I would like to see it working, it is on the pipeline for 4.0. We are somehow delayed with releases, so I can't give now a concrete date, but I already started working on it.

[2019-04-03 14:58] fandor92 commented on #180
I can confirm that after clearing Sourcery cache and updating pod to 3.2.0, warnings and errors are gone. Thanks for the great support!

[2019-04-03 15:01] #180 closed

[2019-04-03 15:27] mpdifran commented on #180
Thanks for the quick turnaround!

[2019-04-03 20:57] #182 closed

[2019-04-03 20:59] amichnia commented on #177
@maciej-gad-benefex SwiftyMocky 3.2.0 is there. It solves the problem, as it works on top of Sourcery 0.16.0

[2019-04-03 20:59] #177 closed

[2019-04-04 05:50] spaluchiewicz commented on #175
@amichnia great! I look forward to hear/see update on this.

[2019-04-04 12:18] amichnia opened #183 "Add policies to Verify, allowing to check sequence of events"
There was a request, to enable "enforce order" option when checking calls with Verify.

The idea is it should work more or less like that:

[code]

[code]

Any thought on how should it look like? Anyone interested in that in particular?

[2019-04-04 20:42] torstenlehmann opened #184 "Naming conflicts for types used in extensions from different Frameworks"
A -> B -> D
A -> C -> D

**Framework B:**
[code]
**Framework C:**
[code]
**Framework D:**
[code]
**What I do:**
I try to generate mocks for A by including all files from A, B, C, D.

**What I get:**
Naming conflicts in the generated mocks file, because `TrackingEvent` is not prefixed with the Swift module name.

**Workaround:**
Prefixing the extension methods argument type with module name:
[code]

[2019-04-04 21:20] amichnia commented on #184
@torstenlehmann Thanks for raising. This is, unfortunately, a big conceptual problem, as we don't have module information in general when generating mocks (that's why we still have to declare imports in yml instead of deriving them from types modules).

There are some bigger changes coming in 4.0, and maybe we will find a way to work it out. The big problem is, in general:

- you have your protoco

[2019-04-04 21:24] amichnia commented on #165
@coryroloff @Przemyslaw-Wosko I just found that the limitation for Sourcery swifttemplates disappeared. It is very likely, that 4.0 will introduce support for SPM and Mint :)

[2019-04-04 21:30] amichnia opened #185 "Add linux support"
This is somehow self-describing - would be nice to see it as a mocking tool for swift projects on Linux as well.

Could be related with #165

[2019-04-06 10:56] Przemyslaw-Wosko commented on #183
Hi, i thik we had discussion like that almost 2 years ago :D that bring memories!

[code]
with this solution everyting is simple and clear. Verify method just ask mock "if invocation like that was called?"
Adding this `mock.verifyPolicy = .enforceOrder` complicates things a little bit, especially for begginers in Unit testing, but if this will be disabled by default, we might want to add option li

[2019-04-19 10:12] fuzza opened #187 "Swift 5 @autoclosure forwarding ban"
## Description

Prior to Swift 5, it was possible to forward `@autoclosure` function parameter to another function as following:

[code]

In Swift 5 this behavior was considered as  a [bug](https://bugs.swift.org/browse/SR-5719) and fixed.

In context of the SwiftyMocky framework, this causes mocks for protocols that define methods with autoclosure params to be generated with an error:

[code]

Mo

[2019-05-09 11:58] sgrgrsn opened #188 "Ignore non-stubbed methods and getters"
Hi there 👋

Thanks a lot for a really useful framework! It has saved me for a lot of boiler plate and maintenance in our test targets 🎉

I was wondering if it's possible to ignore methods and getters that aren't stubbed on a mock object. It would be useful in tests that don't depend on all of the methods and getters in the mock object.

In my particular case I have a view with a bunch of observabl

[2019-05-09 13:38] amichnia commented on #188
@sgrgrsn Hi, thanks for the feedback.

We had several discussion on this topic when we started this project. The general problem is that it's really hard to come up with a decent default return values. Also, it can be a bit misleading when someone does not setup them, and the test fails (for some other reason than missing stubs).

As for the current solutions - what we came up with in current proj

[2019-05-09 13:55] sgrgrsn commented on #188
Thanks for the quick reply 👍

I get your point that it can be invisible if it fails silently when a stub is not implemented.

I like your idea of having a way to register the default return value for specific types. That will at least solve my needs in one line at the call site:
[code]

[2019-05-09 14:22] amichnia commented on #188
@sgrgrsn just one remark. Your observable is a generic type, which means two things:

1. Above would work more like :
[code]
It might solve the problem or not, depending how many different type of observables you have. So again, probably you will have to register as many times as many types you have.

2. Maybe we can make it even more generic, but that would require further investigation. Again, t

[2019-05-09 14:34] sgrgrsn commented on #188
Thanks for pointing out. I see - didn't think about that when I wrote my reply.

I think the solution is still alright, as the majority of my observables are click event so `Observable<Void>`.

[2019-05-18 20:39] amichnia commented on #185
Basic setup was done. We are now waiting for Sourcery linux support.

[2019-05-18 20:46] amichnia commented on #165
Will be in the next release (3.3)

[2019-05-18 20:46] #165 closed

[2019-05-18 20:51] amichnia commented on #71
Added matrix for Travis CI, we will cover swift 4.0, 4.2, 5.0

[2019-05-18 20:51] #71 closed

[2019-05-18 21:19] amichnia commented on #131
SwiftyMocky CLI beta version is ready, and will be part of 3.3 release

[2019-05-18 21:19] #131 closed

[2019-05-19 11:36] amichnia commented on #187
Done, will be part of 3.3 release

[2019-05-19 11:36] #187 closed

[2019-05-19 15:55] amichnia commented on #175
@spaluchiewicz it is done, would be a part of 3.3 release

[2019-05-19 15:55] #175 closed

[2019-05-19 16:00] amichnia commented on #62
Iceboxing for now. There is no actual way to approach that now, and not much reason to do.

[2019-05-19 16:00] #62 closed

[2019-05-19 16:00] #185 closed

[2019-05-19 16:00] #128 closed

[2019-05-24 21:43] amichnia opened #190 "Extract integration tests into separate repository"
We are now testing generation and test suite for swift 4.2 and 5.0, on iOS and tvOS.

But we are missing integration tests for SwiftyMocky:

- as a unit tests pod
- as a UI tests pod
- as a prototyping pod in main app
- carthage integration for test targets
- carthage integration for app targets

We could extract additional repository and link it to the Travis, in order to maintain test projects w

[2019-05-25 15:41] amichnia commented on #190
https://github.com/MakeAWishFoundation/SM-Integration-Tests

They will run every month. Needs to update after merge to stable version.
Adding info to readme about examples and prototyping.

[2019-05-25 15:41] #190 closed

[2019-05-26 06:12] #146 closed

[2019-05-26 06:13] amichnia opened #191 "Recognise Package.swift as a valid project for purpose of doctor."

[2019-05-26 06:13] amichnia opened #192 "Should be able to distribute mocky via brew (custom formulae for now?)"

[2019-05-28 14:50] darecki opened #193 "Migration guide from 3.2.0"
As there is a lot of changes in version 3.3.0 it would be nice to add a migration guide.
In particular: am I forced to use the new CLI or can I generate mocks as I did in earlier versions?

[2019-05-28 15:02] amichnia commented on #193
@darecki I will work on it. Until its ready, I'll keep this issue opened. You are right that we might want to have this info more visible.

To answer your question, the migration is not required. Please look into [Legacy](https://github.com/MakeAWishFoundation/SwiftyMocky/blob/master/guides/Legacy.md) section in guide. You can still use it as it was, that's why it's 3.3.x not 4.0.0.

New CLI is mo

[2019-05-28 15:08] darecki commented on #193
@amichnia thanks for a great answer! I will definitely try the CLI, but for now I needed to quickly regenerate mocks. It turned out the updating Sourcery solved the problem in my case.

One more thing I'd definitely like to see in the migration guide is how to migrate from mocky.yml to the Mockfile.

[2019-05-28 15:13] amichnia commented on #193
@darecki try `swiftymocky setup` (it should ask about migration), or directly `swiftymocky migrate`

You can then run `swiftymocky doctor` to verify if all is fine. Mockfile should also seem familiar, of you used the previous configurations :)

[2019-05-29 13:54] amichnia commented on #193
Migration is now explicitly referred from Readme. Closing.

[2019-05-29 13:54] #193 closed

[2019-05-29 13:56] darecki commented on #193
Perfect. Thanks!

[2019-05-29 13:59] amichnia opened #194 "SwiftyMocky mock generation on Linux"
Sourcery is not yet available on linux. We should stay tuned and start using it as soon as they will support it.

[2019-05-29 14:13] amichnia opened #195 "SwiftyPrototype - use SwiftyMocky for fast prototyping"
Who uses Carthage probably noticed, that there is new framework being built (SwiftyPrototype). The reason for that is that we need two different and distinctive ways to use SwiftyMocky as a prototyping tool or unit testing tool.

We should investigate that area, and we need some requirements for the prototyping part. Some to start:
- [x] it needs to run on the device, and not import XCTest
- [] we

[2019-06-04 09:00] laxmorek opened #196 "[new feature] Mocking Models"
Hey,

A few days ago I upgraded SwiftyMocky in my project to the newest version because in our company we found time ( :O ) to write some unit tests in current projects. During work I realized that something is missing in SwiftyMocky.

Mocking (stubbing) Models.

**Example.**

[code]

_Testing now:_
[code]

_Idea:_
We can add new Sourcery template which can generate additional function for every m

[2019-06-04 09:31] Przemyslaw-Wosko commented on #196
I don't think this is functionality we want to make and support in SwiftyMocky, but this kind of stuff sure might be helpfull for some cases, so maybe new library would be a good choice?
@andrzejmichnia  what do you think?

[2019-06-04 09:37] amichnia commented on #196
@laxmorek It seems to be a nice feature, but I have some doubts. I don't want to extend SM. too much. I was thinking about subspec, but then it means problems for Carthage, which will require separate library.

I still believe it should be a part of SwiftyMocky suite, but probably, as @Przemyslaw-Wosko said, a bit separate in the same time.

I would definitely give it a try, then we can decide whe

[2019-06-04 09:49] laxmorek commented on #196
@Przemyslaw-Wosko @amichnia thanks for the quick response.

Separate library sounds good to me. Maybe as a part of MakeAWishFoundation?

I agree that challenges are many and I don't have ideas how to achieve all of them for now. This feature is just an idea which I would like to discuss. But.. we can start with something small and easy and after that expand it. :)

Both of you agreed that it shoul

[2019-06-04 09:49] #196 closed

[2019-06-04 10:01] amichnia commented on #196
@laxmorek Feel free to start working on it, I will prepare separate container for it

[2019-06-04 11:29] laxmorek commented on #196
@amichnia tnx

[2019-06-06 12:36] amichnia opened #198 "Support Multiple generated files in one target"
Recheck and prepare 3.3.2, add integration tests for multiple targets.

Relates to #197 by @davidmtamas

[2019-06-06 22:11] amichnia commented on #198
Done in 3.3.2

[2019-06-06 22:11] #198 closed

[2019-06-10 18:00] DavidHorvath opened #199 "Random ShellOut error when running `swiftymocky generate`"
Hi,

I get this error randomly when I run `swiftymocky generate` so my CI job fails.
Have you ever seen this error? Is there something I could do with it?

[code]

Thanks in advance

[2019-06-11 09:17] amichnia commented on #199
Hi @DavidHorvath

I have not encountered that, seems bizarre. I understand you actually stripped output a bit, so `<path_to_my_project>/.mocky/.config.yml.tmp` is actually a correct path, right?

I have some questions/workarounds you might try until we figure it out:

1. Can you check if adding `--disableCache` helps?
2. Is it required to generate mocks on the CI? I'm curious about the use case. I

[2019-06-17 14:49] jimidriscoll opened #200 "Use of unresolved identifier 'MockyAssert' in generated Mock file"
When building my test target (after adding SwiftyMocky to my test target in my Podfile and having run 'Pod Install'), I get a "Use of unresolved identifier 'MockyAssert'" error in my generated Mock file. I find this odd considering the mock file does indeed include  'import SwiftyMocky' at the top. Am I missing a step somewhere?

[2019-06-17 15:00] amichnia commented on #200
@jimidriscoll Hello. From the 3.3.2, the MockyAssert was moved to the runtime library. Previously it was part of generated mock.

Could you please share the top of the generated file? Also, you can run pod update to make sure your runtime is 3.3.2 (or check on Podfile.resolved)

[2019-06-17 16:12] jimidriscoll commented on #200
Indeed, it had to do with my version. After a _pod repo update_ and a _pod update_ I noticed the immediate upgrade to 3.3.2. Builds fine now. Thanks for pointing me in the right direction, I completely forgot to double check the version number!

[2019-06-17 16:12] #200 closed

[2019-06-23 13:05] pgorzelany opened #201 "SwiftyMocky 3.3.2 not compiling under Xcode 10.2.1"
I am surprised nobody mentioned this issue before. Makes me wonder if its an error with the setup on my side.

Anyway, I integrated SwiftyMocky 3.3.2 with Cocoapods into a Swift 5 project. I tried to compile the test target under Xcode 10.2.1 and got the following compilation error in CustomAssertions.swift

<img width="915" alt="Screenshot 2019-06-23 at 15 04 53" src="https://user-images.githubus

[2019-06-24 08:35] amichnia commented on #201
@pgorzelany I will send an update. I don't know how did it passed tests, we already fixed it for wacky assert, this one we must have missed.

[2019-06-26 05:55] bishalpatnaik-nineleaps opened #202 "[FATAL] No registered matcher comparator for (key: String, value: Any)"
How do I register a matcher for
[String: Any] type variable

[2019-06-26 09:27] amichnia commented on #201
@pgorzelany You can check SwiftyMocky 3.3.3, the fix should be already there

[2019-06-26 09:51] amichnia commented on #202
@bishalpatnaik-nineleaps Hi, you can check documentation here: [Matcher docs](https://cdn.rawgit.com/MakeAWishFoundation/SwiftyMocky/3.3.3/docs/matcher-support-for-not-equatable.html)

But to make it easier, the general rule seems as following:

[code]

The biggest question is how do you actually plan to compare two [String: Any] instances. Also, please remember that Matcher needs to be setup befo

[2019-06-26 09:51] #202 closed

[2019-06-26 11:00] bishalpatnaik-nineleaps commented on #202
Thanks for the reply, this is the function I wrote in the  override func setup() function of my test class

Matcher.default.register([String : Any].self) { (lhs, rhs) -> Bool in
            return NSDictionary(dictionary: lhs).isEqual(to: rhs)
        }

NSDictionary(dictionary: lhs).isEqual(to: rhs)  returns true if same and false otherwise. But still, it says
[FATAL] No registered matcher compar

[2019-06-27 10:50] nischith-nineleaps opened #203 "Fatal error while registering [String: Any] types."
Matcher.default.register([String : Any].self) { (lhs, rhs) -> Bool in
return NSDictionary(dictionary: lhs).isEqual(to: rhs)
}

NSDictionary(dictionary: lhs).isEqual(to: rhs) returns true if same and false otherwise.
But still, it says:
[FATAL] No registered matcher comparator for (key: String, value: Any)

Any ideas why this is happening

[2019-06-27 12:39] PlamenPenchev opened #204 "No such module for several imports, SwiftyMocky 3.3.3"
I wonder if this is an issue from the setup on my side, but Xcode does not recognise several imports from Mock.generated.swift. I have installed mint and the CLI. Run setup and generate. Doctor finds no issues also.

<img width="1272" alt="Screenshot 2019-06-27 at 15 27 42" src="https://user-images.githubusercontent.com/26491599/60266797-7b9df300-98f1-11e9-9077-9c8dae7af0dc.png">

[2019-07-01 09:23] amichnia commented on #204
@PlamenPenchev please verify your Mockfile.

As I see, you most probably include Pods directory in the `include` section. That results in generating mocks and capturing imports also from Pods, and since we use SwiftyMocky to test CLI, it captures several of our internal dependincies.

Try to add Pods directory to `exclude` sources section in the Mockfile, as described in [guides](https://github.co

[2019-07-01 09:27] amichnia commented on #204
@PlamenPenchev after updating mockfile you might need to run `swiftymocky autoimport` to update imports automatically.

You can also always remove them directly from the Mockfile, from the imports section.

[2019-07-01 09:30] amichnia commented on #203
@nischith-nineleaps What version of Swift are you using? I have added tests for that and it seems it seems to work, so probably we missed some particular setup which fails.

[2019-07-01 09:34] amichnia commented on #201
OK, no info about any more problems, closing.

[2019-07-01 09:34] #201 closed

[2019-07-01 14:00] PlamenPenchev commented on #204
That was the issue, adding pods in exclude fixed it. This can be closed I guess. Thank You!

[2019-07-01 14:00] #204 closed

[2019-07-02 19:30] pgorzelany commented on #201
@amichnia sorry, didn't have time to check. I just integrated SwiftyMocky 3.3.3 and no compilation errors are present. Thanks for your swift response and fix :)

[2019-07-26 19:14] TimeDelta opened #206 "Compilation Error: Unprintable ASCII character found in source file"
This occurs when using tab characters for indentation of a multi-line function definition that contains a return value such as:
[code]

It produces this in the auto-generated mock:
[code]

It is complaining about the tab characters.

[2019-07-31 12:22] amichnia commented on #206
@TimeDelta good point. We will have to address it, sooner the better.

[2019-08-06 17:34] TimeDelta commented on #206
I already fixed it and made a pull request

[2019-08-09 10:08] #206 closed

[2019-08-09 11:26] amichnia commented on #203
@nischith-nineleaps  I believe this was fixed in 3.3.4, please reopen if it happens again.

[2019-08-09 11:26] #203 closed

[2019-08-15 12:39] aya2453 opened #208 "Verifying methods fails"
I created mock1 and 2, and want to verify fetch function to be called with expected arguments respectively.
However, mock2.fetch(isX: false) always fails although mock1 passed as expected.

[code]

[code]
[code]

[code]

When I put breakpoints,  mock2.fetch is called with false, but verifying methods fails and I don't know why it doesn't work.

[2019-08-16 16:46] younotakecandle opened #209 "Ignoring method's arguments without internal names"
I have faced a problem with mocking the next protocol:
[code]
There was no problem with the first method , but the second one was mocked without any arguments. This fixed the problem:
[code]
It seems I should specify either an internal or external name, otherwise a method stub will be broken. Looks like a bug.

[2019-08-19 06:21] #208 closed

[2019-09-06 02:16] shingo-nakanishi opened #210 "Need clear verify"
I want a mechanism to clear `verify`.
The mockito seems to have multiple mechanisms to reset the `verify`.

I think we should delete the corresponding part from the array in the mock.
`private var invocations: [MethodType]`

[2019-09-30 22:37] francoguerrerog opened #211 "Getting unspecified error"
Hello, every time I run `Pods/Sourcery/bin/sourcery --config LocalPods/Login/mocky.yml` on my Mac I get error but it doesn't specify it.

`Using configuration file at 'LocalPods/Login/mocky.yml'
Scanning sources...
	loadOrParse: 0.028198957443237305
	resolution took 0.0034279823303222656
	combiningTypes: 0.006945013999938965
	total: 0.035902976989746094
Found 14 types.
Loading templates...
Loaded

[2019-10-02 07:55] jibeex opened #212 "How can we mock a protocol in an dependency framework?"
Swifty works perfectly in my project. But I cannot find a way to mock some service(protocol) that is located in a framework. Is there a way to do that correctly?

[2019-10-04 10:53] amichnia commented on #212
Hi @jibeex, thank for the info.

I will think how to approach that. If framework has accessible sources (most of pods), you can add a path to the file in mockfile. Let's say the protocol in a framework is called `ProtocolA`.

Unfortunately you probably can't make it conform to "AutoMockable", so I see 2 options here:

1. Create your own protocol like that `protocol ProtocolB: ProtocolA, AutoMockab

[2019-10-04 10:54] amichnia commented on #212
Just to let you know - we are working on an Adapters module, which might solve this issue, but it is under deep development now, with no real release date yet.

[2019-10-14 20:00] mikeakers opened #214 "Custom templates with swiftymocky CLI?"
Hello, In our project we have modified the sourcery templates to make the `matchingCalls() -> Int` method public, and add a method to clear the `invocations` array. I tried updating to the latest Swiftymocky and the CLI but it seems that using custom templates is no longer supported. Is this true? Is there a supported way to achieve the same functionality with the CLI?

Thanks in advance, Mike

[2019-10-24 14:16] grsouza opened #216 "Mock protocol with associated type constraints."
Hi, awesome framework.

I have a doubt, is it possible to mock a protocol like this one:

[code]
The Repository protocol definition is:

[code]

When a try to mock the `SuggestionRepository`like above, the compiler gives me the following error:
`Reference to invalid associated type 'Entity' of type 'SuggestionRepositoryMock'`.

Thanks.

[2019-10-24 17:45] amichnia commented on #216
Hi. I am not able to check it now. But due to some limitations you need to ”annotate” associated types. I don't know if it helps now, but please look at the last section at https://cdn.rawgit.com/MakeAWishFoundation/SwiftyMocky/3.3.4/docs/handling-generics.html

[2019-10-28 11:56] Sob7y opened #217 "Error in SwiftyMocky setup command"
Hi, I am facing this issue after updating to Catalina OS

`This copy of libswiftCore.dylib requires an OS version prior to 10.14.4.
`
Is there any solution besides downgrading my OS if this is the cause mainly.

[2019-10-31 15:40] jibeex commented on #212
@amichnia I have tried your methods this week. Both methods that you proposed are not working properly. A mock is created, but methods of the protocol from the framework are not populated.

[2019-10-31 20:54] fuzza opened #219 "Generalization of nested Given/Perform/Verify"
Hi folks!

Thanks for the awesome framework. I can’t imagine my unit testing experience without it and really appreciate your effort to develop and share it with a community :+1:

We extensively use SwiftyMocky in our team and currently we have around 200+ mocked protocols that gives us around 40k LoC of generated code. Somewhere around 20k LoC we started to experience compilation issues with a si

[2019-11-01 09:25] amichnia commented on #217
@Sob7y thanks, will be fixed hopefully in next release.

[2019-11-01 09:29] amichnia commented on #219
@fuzza this is perfect, thanks a lot! I will check it and try to have it in version 4.0 or 3.4, depending on complexity

[2019-11-02 13:01] fuzza commented on #219
Hi @amichnia!
There is a quick follow-up on the topic.

Unfortunately, the initial approach does not work with PAT because implicit generics are inherited from a generated mock by nested structures, e.g:

[code]

However, I was able to get this working by adding PAT for Given/Perform/Verify and replace inheritance from base mock with composition, so the generated mock decorates the implementation

[2019-11-08 10:25] amichnia commented on #217
@Sob7y  can you confirm it is still happening after installation of SwiftyMocky 3.3.4 ? I cannot reproduce it, I'm on Catalina (macOS 10.15.1)

[2019-11-08 12:23] amichnia commented on #219
@fuzza thanks. The concerns stays still, as I understood generated file is just too big.

As a temporary workaround I would suggest:
1. Inspect Mockfile
2. Breakdown mock into separate files

I would suggest to do it feature/module based, so every important subdirectory in project can have it's own section in mockfile (with respectively different sources and output settings). That would generate s

[2019-11-08 12:25] amichnia commented on #216
I'm adding this example to sample project, we'll see if it's possible to generate valid mocks for that. @grsouza please stay tuned :)

[2019-11-08 12:27] amichnia commented on #214
@mikeakers working on this. I will make clear methods in our template.

As for custom templates, they are still possible, but they are not a part of CLI. If you want to generate custom templates alongside SwiftyMocky, feel free to follow Sourcery documentation, or check our "legacy" section in documentation.

[2019-11-08 12:29] amichnia commented on #212
@jibeex I'm testing it right now. If I can make it work, I'll prepare example in our sample project/documentation. If this is more work, I'll have to postpone it until version 4. Please stay tuned

[2019-11-08 12:31] amichnia commented on #211
Hi @francoguerrerog ,  have you tried cleaning up sourcery cache?

I would suggest running it once with `--disableCache` flag

[2019-11-08 12:32] amichnia commented on #210
@shingo-nakanishi working on that

[2019-11-08 12:39] amichnia commented on #209
Hi @younotakecandle, this is a known limitation. In the first example, you declare an attribute that is not possible to refer in the method body.  That breaks internal logic.

We have thought of omitting them, but that generates several inconsistencies, for example:

[code]
These two calls have different attributes but are indistinguishable for us, which might be puzzling sometimes. (Verify or Giv

[2019-11-08 12:41] amichnia commented on #199
I have not encountered it for a moment, we also updated the version of ShellOut in v3.4.0, so I consider it closed for now. Feel free to reopen if it keeps showing up in the upcoming version 3.4.0.

[2019-11-08 12:41] #199 closed

[2019-11-08 14:16] jibeex commented on #212
@amichnia Sounds great. Thanks.

[2019-11-08 21:41] Sob7y commented on #217
Hello,

I'm sorry, I'm still getting this error:

swiftymocky setup

This copy of libswiftCore.dylib requires an OS version prior to 10.14.4.

By the way, My OS version is 10.15

Best Regards,

On Fri, Nov 8, 2019 at 12:25 PM Andrzej Michnia <notifications@github.com>
wrote:

[2019-11-09 01:44] shingo-nakanishi commented on #210
@amichnia Thank you. I can't wait for completion.

[2019-11-11 16:56] amichnia commented on #216
@grsouza I will have it released this week. So far I came up with this solution:

[code]

I added new "annotation" called typealias, I believe it would solve more than this one limitation. That allows you to inject type aliases into generated mocks, making it possible to define what Entity means in a Mock (and so satisfying the constraint).

Unfortunately, there is no automatic detection of such c

[2019-11-11 16:58] amichnia commented on #210
@shingo-nakanishi I planned release for this week. The method would look like that:

[code]

[2019-11-11 17:00] amichnia commented on #214
@mikeakers clear would be done in #210

As for custom templates, I think I would add a setting in Mockfile, but I need a bit more checks on that.

[2019-11-12 03:48] shingo-nakanishi commented on #210
@amichnia

Thank you.

My colleague's Android engineer says this is a `reset` method in the `Mockito`.
And `SwiftyMocky` README say

[code]

So my colleague's Android engineer say

[code]

is better then `clear`.
I want you to make the final decision on which method name to use.

[2019-11-12 10:28] amichnia commented on #210
@shingo-nakanishi makes sense for me. There was already clear method for StaticMocks (to cleanup static methods givens and invocations), so I'll just deprecate it. Thanks for the tip!

[2019-11-12 11:39] #210 closed

[2019-11-12 11:39] #216 closed

[2019-11-12 15:52] amichnia commented on #214
Added new 'sourcery' entry to Mockfile, allowing to specify paths to additional Sourcery configurations, that would be executed alongside Mock generation

[2019-11-12 23:05] chuckluck44 opened #223 "Failing cast in ExpressibleByArrayLiteral extension"
This is from the Parameter+Literals.swift file:

[code]

Our unit tests are crashing on the line marked with a TODO. We have multiple instances where we assign an array literal to an optional `Set` var.
[code]
In this case `self = elements as! Self` will fail because elements ([0, 1, 2]) is an Array type and can't be cast to Self which is a `Set` type.

This is going to fail for anything that impl

[2019-11-13 01:24] chuckluck44 commented on #223
Did some more digging on this, and found that array splatting isn't supported in Swift yet: https://bugs.swift.org/browse/SR-128. A common work around is to cast the variadic function to a closure that accepts an array.

[2019-11-13 08:40] amichnia commented on #223
@chuckluck44 Thanks! I was going to release 3.4.0 today, I'll try to include a fix.

What Swift version are you using?

[2019-11-13 10:17] amichnia commented on #223
@chuckluck44 FYI, I had to change it a bit since for some reason it was still failing when trying to initialise set with an array. Seems that constraining `ArrayLiteralElement` to `Hashable` helped. This is final solution:

[code]

[2019-11-13 10:17] #223 closed

[2019-11-13 10:31] #214 closed

[2019-11-13 10:36] amichnia commented on #217
I'm keeping it open for now. I will have some more machines updated to Catalina soon, I will see if 3.4.0 fixed that.

I would also suggest removing SwiftyMocky and installing it via mint again. It looks a bit like you still have a binary compiled with old sdk, but it's hard to verify now.

[2019-11-13 11:08] amichnia commented on #212
@jibeex I made some tests. At the moment (SwiftyMocky 3.3.4) the only way to solve it is to create "dummy" protocol based on interface of the protocol you want to mock.

You can do it two ways:

1. When you have no access to the sources, create `Ext` protocol, and copy methods from the protocol you want to mock. Example for `URLSessionDelegate`:

[code]

That would allow to generate `URLSessionDel

[2019-11-13 11:46] #212 closed

[2019-11-13 19:11] MohammadAG opened #225 "SwiftUI previews do not work when using SwiftyMocky"
When building SwiftUI previews, the build fails due to:

Mock.generated.swift:396:12: Type 'ClassNameMock' does not conform to protocol 'Mock'

Normal builds are fine, disabling tests completely also fixes SwiftUI previews. Not sure why Xcode is building tests when previewing SwiftUI anyway.

[2019-11-13 19:29] chuckluck44 commented on #223
Great thanks @amichnia !

[2019-11-13 23:40] dchohfi commented on #225
Hey @MohammadAG , I think you need to bump the CLI tool to 3.4.0

[2019-11-14 04:45] MohammadAG commented on #225
That was it, thanks! I assumed I'd installed it through brew since I always keep that up to date, guess I was wrong.
Thanks again!

[2019-11-14 04:45] #225 closed

[2019-11-15 07:59] shingo-nakanishi opened #226 "does not conform to protocol 'Mock' in 3.4.0"
## I try

[code]

## Error in generated file.

## click the error, Xcode add the code

[code]

[2019-11-15 08:45] shingo-nakanishi commented on #226
Self resolve.

I found

[code]

this mean cli version still v3.3.3.

so more try

[code]

then

swiftymocky setup show
╔════════════════════════╗
║ SwiftyMocky CLI v3.4.0 ║
╚════════════════════════╝

[2019-11-15 08:51] shingo-nakanishi commented on #210
@amichnia Thank you for making `resetMock`.

[2019-11-15 09:34] amichnia commented on #226
OK, great to hear it works.

[2019-11-15 09:34] #226 closed

[2019-11-18 09:33] forceunwrap opened #227 "Missing matcher registration should not crash the test runner"
Hi.

First of all, thanks for the awesome lib.

Currently, when you try to match custom types which are not `Equatable`, the test runner will crash and print a message which says that there is a Matcher registration missing. Sometimes you can't even see this error message, because the test runner sometimes immediately reboots itself, which also clears the console log.
Another problem with the "cra

[2019-11-26 13:25] amichnia commented on #227
@forceunwrap thanks for raising it. I will try to make it fail the test instead. The not crashing part might be tricky. Theoretically, if you set your tests not to continue after failure, it should work (so it would not get to the crash since it will finish the test on failure just before).

I was also thinking of causing failure and returning false as default, but I'm not sure if that is a good a

[2019-11-26 13:27] amichnia commented on #211
@francoguerrerog I assume for now it was Sourcery cache problem (had same error recently). If it still happens after upgrading all to SM 3.4.0 and running with `--disableCache`, feel free to reopen it.

[2019-11-26 13:27] #211 closed

[2019-11-27 12:28] artur-zaremba commented on #165
Hi, sorry but I can't find how to use it with spm packages testing, also I didn't find any mentions in documentation. Can I use SwiftyMocky to setup spm test targets?

[2019-11-27 13:42] amichnia commented on #165
@artur-zaremba we don't have dedicated documentation for that yet. It's on my todo list.

Another problem is, that generation will work on macOS only.

As for the tests themselves, we have integration tests library, here's SwiftPM integration for unit tests: https://github.com/MakeAWishFoundation/SM-Integration-Tests/tree/master/SwiftPM

Feel free to look at `Package.swift` there to check how we i

[2019-12-01 09:10] remkoseelig opened #228 "Use generated mocks files in other projects"
**Introduction**
First of all, I'm relatively new to SwiftyMocky and my main experience with mocking is using Moq in a C# environment. Although I am very impressed by SwiftyMocky, I am looking for an edge case that I cannot, or don't know how to, resolve with SwiftyMocky.

**Generating mocks from (external) libraries**
I'm working on a few libraries/frameworks that are dependent on each other and

[2019-12-01 20:59] amichnia commented on #228
@remkoseelig Hi, thank you for the long and detailed description. Actually, these are very good questions. We are struggling with a similar problem with our SDK's suite now.

I would like to prepare a detailed answer, so I just need to recheck how we approach that. I will try to write something more exhaustive this week.

For now, I can tell, that:
1. we used @testable to import our "Mocks" librar

[2019-12-03 14:23] remkoseelig commented on #228
Cool! Thanks for elaborating on this, @amichnia.

@testable indeed is a way to import those mocks, exactly like you'd do for the existing code you want to test so that of course would be a major improvement to my 'sed' hack.

Still, I'd be interested in the other things you're referring to.

With respect to this GitHub project, would it be an idea to document some of these practices you propose? R

[2019-12-05 19:33] remkoseelig opened #229 "Parallel execution of SwiftyMocky not supported?"
**TL;DR**
When running an Xcode build which target/scheme has parallel build enabled, when targets concurrently run `swiftymocky generate`, the output of these builds become unpredictable. Disabling parallel build seems to resolve the issue.

**Background**
As I prefer to develop small libraries/frameworks, my projects regularly have multiple dependencies. As part of my TDD journey with Swift, for

[2019-12-06 11:41] spaluchiewicz opened #230 "Mock for protocol/method with `@available` attribute isn't generated correctly."
Mocks generated for protocols:

[code]
aren't surrounded with correct @available attributes

[code]

which causes compilation error:
[code]
![SwiftyMocky_available_issue](https://user-images.githubusercontent.com/782101/70320599-6ffe1300-1825-11ea-92eb-3289b65a9e46.png)

Note: iOS 14 is used here only as an example.

[2019-12-19 08:02] andlang opened #231 "SwiftUI previews do not work when using SwiftyMocky with iOS"
I included SwiftyMocky (3.4.0) in my iOS project with the Swift Package Manager. When I try to build the SwiftUI preview, the build fails in the dependency ShellOut with “Class Process is unknown” (it’s only available in macOS) . It seems, that the preview wants to build all of the dependencies, no matter what platform is supported. I could only solve the issue in removing all of the dependencies

[2019-12-25 10:14] DaolangHuang-TW opened #232 "How to use SwiftMocky when my unit test code is in Pods."
There is no Unit Test target in my App, and the Test code is in separate Pods. The way I use Pods is {pod 'MyPods', :testspecs => [' Test']}, so he can automatically run my Test code.
When I use: Swiftymocky setup, prompt "Specified project was not found!" .
I hope to get your help.

[2020-01-09 15:17] amichnia opened #233 "Extend perform for variables"
Currently perform does not generate accessors for variables, only for mocked methods. It would be good to make it consistent, and add Perform there as well.

[2020-01-09 15:18] amichnia opened #234 "Add ArgumentCaptor documentation and examples"

[2020-01-09 15:27] amichnia commented on #232
@DaolangHuang-TW hello, I have never tried to do it that way, I need to check. I do believe you need to call `swiftymocky setup` (you wanted to generate mocks with CLI, right?) from the right directory, or call it with path argument, like:

[code]

[2020-02-08 18:05] pballart commented on #231
Same issue here. How did you manage to remove the SwiftyMockyCLI dependencies but still keep SwiftyMocky running for the tests?

[2020-02-12 11:06] amichnia commented on #231
Hi guys. I will look into that over the weekend. In general, I think the problem is that we used originally SPM for CLI tool, which of course would not work in test targets.

[2020-02-12 11:58] andlang commented on #231
@pballart I still use the legacy way with sourcery and a yaml config (https://github.com/MakeAWishFoundation/SwiftyMocky/blob/master/guides/Legacy.md). Therefore I could remove all targets from `Package.swift` except “SwiftyMocky”. But that was just a quick fix.

[2020-02-17 10:19] jibeex commented on #217
Hello, I have got this issue and reloved it. I leave the method here to help more people.

For machine graded to latest version of Catalina, SwiftyMocky needs to be built with the new X-Code.

Verified processes:
1. Download X-Code 11.3
2. Set the command-line tool of X-Code 11.3 as the default command-line tool
3. uninstall SwiftyMocky from `Mint`
4. Reinstall `SwiftyMocky` via `Mint` which will

[2020-02-18 12:00] wassil opened #235 "Optional protocol extensions break build for type Any?"
After importing SwiftyMocky, code `let something: Any? = 123` doesn't compile, the error is "Protocol type 'Any' cannot conform to 'ExpressibleByIntegerLiteral' because only concrete types can conform to protocols"

`let something: Any = 123` or `let something: Int? = 123` compiles without issues

I've noticed SwiftyMocky creates protocol extensions on Optional types, seems like a root cause of th

[2020-02-21 21:23] jayncoke opened #236 "Installing 3.4.0 via Mint - dependency graph is unresolvable"
Attempting to install, but it keeps failing. Tried uninstalling SwiftyMocky, reinstalling mint. This always happens. Any advice?

[code]

[2020-02-21 21:47] jayncoke commented on #236
Oh nevermind. I figured it out. I had to update my Xcode Command Line Tools to XCode 11.

[2020-02-21 21:47] #236 closed

[2020-03-05 14:26] sugarbaron commented on #235
I have the same issue.
In my case, even when Any is not optional, and i'm trying to initialize it, i'm getting this compilation error.

for example:
let parameters: [String : Any] = ["name" : "value"] // compiler error for "value"

[2020-03-06 10:28] amichnia commented on #235
Ok, I'll look into it. Could you, at least for now, try to cast it manually?
I think this would workaround it for now:
[code]

[2020-03-06 16:06] Przemyslaw-Wosko opened #237 "Verify - better feedback about invocations"
Currently, when method is invoked, but parameters don't match, i'd be nice to present message  about invocation, but with different parameters

Should be done along with: #174

[2020-03-12 08:17] glyuck commented on #231
I've faced the same issue. As a workaround, I install SwiftyMocky runtime via Carthage and the SwiftyMockyCLI via Mint.

[2020-03-14 00:42] Przemyslaw-Wosko commented on #231
Since we want to be ready for SwiftUI ASAP, i will try to help @andrzejmichnia resolve this issue

[2020-03-16 10:09] vincefried opened #238 "Not able to install Swift Package 3.5.0"
I am currently not able to install the Swift Package due to the error "Product 'Crayon' not found. It is required by target 'SwiftyMockyCLICore'.". When checking the dependencies in the Swift.Package I saw that it now points to https://github.com/luoxiu/Chalk instead of https://github.com/jianstm/Crayon and also the version updated, maybe there's a problem.

[2020-03-16 10:10] fevicks opened #239 "Issue while adding package - Version 3.5.0"
I am getting below issue while adding package in xcode 11.3.1

<img width="727" alt="Screen Shot 2020-03-16 at 1 03 19 PM" src="https://user-images.githubusercontent.com/1110539/76745651-4ee38180-6787-11ea-9486-250c5f284e20.png">

[2020-03-16 12:42] fevicks commented on #238
Me too having the same issue, it was woking fine before few days, now not working

[2020-03-16 13:54] KKirsten commented on #238
Created #241 to fix this issue

[2020-03-16 13:55] KKirsten commented on #239
Created #241 to fix this issue

[2020-03-17 14:00] Przemyslaw-Wosko commented on #238
@KKirsten thanks for work! PR merged, should solve issue

[2020-03-17 14:00] #238 closed

[2020-03-17 14:01] Przemyslaw-Wosko commented on #239
Duplicate od #238 ? since its closed, i'm also closing this one. You can always reopen issue / rise new one

[2020-03-17 14:01] #239 closed

[2020-03-19 17:50] Shagans982 opened #242 "Does not support un-named parameters."
When the stubs are generated for methods, if an un named parameter is used, that parameter appears to be discarded.

example
[code]

seems to generate
`someClass.verify(.didAttachImages())`
not

`someClass.verfy(.didAttachImages(.value[Images]))`

So testing the param values isn't possible.

[2020-03-19 20:18] kzietek commented on #231
For those using SPM I made a workaround by removing all things related to CLI from `Package.swift`:
1. File > Swift Packages > Reset package caches
2. Add `git@github.com:kzietek/SwiftyMocky.git` with branch `NoCLI`.
3. Be sure to select your test target when prompted.

[2020-03-20 14:01] #242 closed

[2020-03-20 14:02] Shagans982 commented on #242
oversight. func didAttachImages(_ addedThis: [Images]) resolved my issue.

[2020-03-22 12:47] pballart commented on #231
I just tried it and it works fine! 🎉

[2020-03-24 07:44] tickboxs opened #243 "swiftymocky setup then it was saying:Cloning Sourcery 0.17.0 and get stuck forever"
please help me with this:

1. Initializing new Mockfile™ at /Users/charliecai/Desktop/job_seek/fujiko/fujiko
✅  Found 1 unit test bundles:
  ☑️  1) fujikoTests
fujikoTests - adding Mock configuration...
 -> Targets set to: fujikoTests
 -> Default output set to: ./fujikoTests/Mock.generated.swift
 -> Default sources directory: ./fujiko
 -> Default testable module: fujiko
 -> Default testable module

[2020-03-26 09:39] vincefried commented on #243
Having the same problem

[2020-04-03 02:16] Tavernari opened #244 "Verify not calling when I am using Dispatch Group"
Hi everyone,

I am developing an `UseCase` and inside my implementation, I am using `DispatchGroup` to perform many requests to some `DataSources`, my issue is, in that case, I have a `Presenter` which I will test to check if all sequence was called, so I have `.loading()` and `.display(data: [AnyModel])` methods, my test at the end is testing using `Verify`.

[code]

but the last verify was never

[2020-04-03 12:51] Przemyslaw-Wosko commented on #244
This is not question for library itself, it's rather about testing asynchronous code. In your place, i'd replace callbacks with lightweight Promises - google swift promises cause they support unit testing by having method "waitForPromises", so you don't have to use expectations

You have to use expectation to wait for something that will be invoked in dispatch, then you can use Verify to check if

[2020-04-03 15:55] Tavernari commented on #244
Thanks for your return, I resolved that changing my implementation without `DispatchGroup`, well I will check `Promises` from Google and test it.

Your insight will help me.

[2020-04-06 12:51] Przemyslaw-Wosko commented on #244
@Tavernari did it help? can i close this one?

[2020-04-06 21:52] nskonieczko opened #245 "No such module 'Commander'"
tried cocoapods, SPM, and carthage all say the same issue.

[2020-04-07 19:55] Tavernari commented on #244
@Przemyslaw-Wosko I did it in another way, but the first question still doing problem, but I think you can close this.

[2020-04-07 20:49] Przemyslaw-Wosko commented on #244
would you mind sharing how?

[2020-04-07 20:49] #244 closed

[2020-04-09 21:14] Przemyslaw-Wosko commented on #245
Could you share little bit more about this issue? i can't reproduce it.

[2020-04-09 21:16] nskonieczko commented on #245
So I was able to figure it out ... well kind of. When running the setup cli
it started to add other imports and got confused. I simply deleted a few of
the imports and it work :)

By the way I really love this library. I would love to know what the plans
are for the future. Would also love to contribute if possible.

Thanks for reaching out

Nick

On Thu, Apr 9, 2020 at 4:14 PM Przemysław Wośko <n

[2020-04-09 21:19] Przemyslaw-Wosko commented on #245
@nskonieczko Thanks for reply, i'm closing the issue.

And btw- regarding SwiftyMockyCLI, on scale 0-10, how this tool helped you?

we have a lot of issues because of this tool, especially config stuff, so i'm thinking about removing that from main repository, looking forward for review :)

[2020-04-09 21:19] #245 closed

[2020-04-10 00:10] nskonieczko commented on #245
So i tested the cli tool on a brand new project. Works perfectly, using
currently on a very complex project with tons of dependencies, and it
broke. So I think I would need more time to really evaluate how well
helpful it is. That said. I wouldn’t know what to do otherwise. Also having
the config file to add the imports is really nice.

Nick

On Thu, Apr 9, 2020 at 4:19 PM Przemysław Wośko <notifi

[2020-04-28 20:24] mpdifran commented on #230
+1 for this. Is there a timeline for when Version 4 will ship?

[2020-04-29 10:17] Przemyslaw-Wosko commented on #230
Hi, i'm not sure if i will have time in this month, have you thought about contributing?

[2020-04-29 14:32] mpdifran commented on #230
I'll try and take a look at implementing sometime this week.

[2020-05-11 06:58] xploit42 opened #247 "Cocoapods - SwiftyMocky 3.6"
Hello, I was wondering why the release 3.6 isn't available on cocoapods, is there any reason?

Thank you

[2020-05-11 13:16] ohitsdaniel opened #248 "SPM - Chalk resolves to 0.07"
Hi there,

I tried to integrate the SwiftyMockyCLI via SPM into our setup and wanted to use `swift run swiftymocky generate` as part of a run script phase. To do so, I set up a `Package.swift` file that only lists the SwiftyMocky package in its dependencies. However, when trying to build the executable, `swift build` / `swift run` fails as Chalk resolves to `0.0.7` instead of `0.0.4` and there wer

[2020-05-11 16:45] amichnia commented on #247
Good question. If I have to guess, I'd say that's because we are forced to match CLI version with library itself, due to this one-repo setup (which is insufficient). That said, I think 3.6 was only CLI changes, that's why pods got skipped. If no, I will see and release it.

[2020-05-14 16:34] im4nkur commented on #199
I am facing the same issue. Any help would be appreciated.
I have tried:
  i) Updating Sourcery Version to 0.18.0.
  ii) Reinstalling SwiftyMocky
  iii) SwiftyMocky doctor returns all green.

Nothing worked for me. Is there anything I need to install?

`❌  Error: ShellOut encountered an error
Status code: 1
Message: "Unknown Arguments: <path_to_project>/.mocky/.config.yml.tmp

Options:
    --watch

[2020-05-27 09:25] StasanTelnov opened #250 "Some Mock.generated files."
Hello.
At now, all generated mocks writed to one file: `Mock.generated.swift`
How I can generate multiple mock files? Maybe I can edit sourcery template?

All mocks in one file is not comfortable, file becomes very large.

I would like, that mocks repeats original strucure. For example, if I have AutoMockable protocol in file `MyTarget/Modules/MyModule/MyProtocol.swift`. After generate I want see

[2020-05-27 16:57] Przemyslaw-Wosko commented on #250
@StasanTelnov i think there was a way at very beginning, but we didn't support that feature cause of locks on files and that generation process was a way more error prone, than handling just one file.

[2020-06-04 22:07] maxxx777 opened #251 "Can't use SwiftyMocky for both prototyping and mocking"
Hello,
In my custom pod I wanna use `SwiftyMocky` for both
- mocking in the pod tests
- prototyping in the example app of the pod

`MyPod.podspec`:
[code]

`Podfile`:
[code]

(tests added as `testspecs` to the main target of the example app)

In this case, after installing the pod the main target of the example app has **both** `-DMocky` and `-DMockyCustom` in `Other Swift Flags`.

It doesn't comp

[2020-06-06 12:17] g-amichnia commented on #250
@StasanTelnov It is possible. It is not default, and there is no CLI feature for that, but feel free to look into our [Mockfile](https://github.com/MakeAWishFoundation/SwiftyMocky/blob/master/Mockfile) to see how to do it.

In general - every section is separate Mock.generated.swift file. You can change output names if you want to have several generated files under same target.

[2020-06-06 12:17] #250 closed

[2020-06-06 12:24] g-amichnia commented on #251
Hi, I will look into that. Good guess with that flags - I need to review it. The prototyping is still alpha, I think one of the ideas is to move it to separate repo, and have it done independently, since mock is mainly test oriented now.

[2020-06-06 12:27] g-amichnia commented on #243
Ok, I finally have some time to look into that. Not sure if we can do much about it though if I cannot reproduce the problem.

@tickboxs @vincefried Could you give me some more info? Does it happen every time? Do you use Mac or linux?

[2020-06-06 12:35] g-amichnia commented on #248
PR is merged now, I will test it and start preparing new release. I will close it for now.

[2020-06-06 12:35] #248 closed

[2020-06-06 12:37] g-amichnia commented on #247
There is new release coming, I think I can close this for now. We are probably moving towards splitting repos and moving CLI to new repo, so we can track that separately.

[2020-06-06 12:37] #247 closed

[2020-06-06 12:39] g-amichnia commented on #217
Closing, since problem is resolvable and does not seem to originate in SwiftyMocky

[2020-06-06 12:39] #217 closed

[2020-06-08 17:03] g-amichnia commented on #235
Ok, I have mixed feelings about it. Seems more like a Swift issue for me. I started a thread on swift.org, hope I can get some clarification there.

Anyway, I will restrict these literals by a compile time flag for now. It would be automatically on for tests, and off for prototyping (where it actually can make some mess).

In general - I still believe it is ok in test targets, using workarounds li

[2020-06-08 17:03] #235 closed

[2020-06-18 15:39] #144 closed

[2020-06-18 20:33] g-amichnia commented on #209
Unfortunately, unnamed parameters still does not show in Sourcery parameters list.

[2020-06-18 20:36] g-amichnia commented on #243
OK, it might be one time issue, or some git configuration issue.

https://stackoverflow.com/questions/24952683/git-push-error-rpc-failed-result-56-http-code-200-fatal-the-remote-end-hun/36843260#36843260

[2020-06-18 20:36] #243 closed

[2020-06-18 20:37] g-amichnia commented on #251
@maxxx777 we are splitting SwiftyMocky and SwityPrototype starting from version 4.0.0, that should solve your problem. Because of many reasons we are abandoning all the compilation flags.

[2020-06-18 20:39] g-amichnia commented on #232
OK, seems to be either fixed or not relevant anymore.

[2020-06-18 20:39] #232 closed

[2020-06-19 22:19] g-amichnia commented on #230
Done for 4.0.0

[2020-06-19 22:19] #230 closed

[2020-06-20 11:27] g-amichnia opened #252 "Add support for opaque return types"
As in title, add tests and verify everything works with opaque return types (iOS 13+)

[2020-06-20 11:41] g-amichnia commented on #252
Seems it is not a problem, since opaque return types cannot be used as protocol requirements.

[2020-06-20 11:41] #252 closed

[2020-06-21 09:57] g-amichnia commented on #237
TODO:

- [ ] readable method name instead of enum case which is not understandable
- [ ] specify expected parameters if any
- [ ] list "similar" invocations with different params

[2020-06-21 12:49] g-amichnia commented on #251
Integration test list to confirm issue can be closed
- [ ] Testing and prototyping with CocoaPods
- [ ] Testing and prototyping with Carthage
- [ ] Testing and prototyping with SwiftPM

[2020-06-22 09:07] #251 closed

[2020-06-23 06:59] g-amichnia commented on #237
Example message raised by verify if no matching methods found:

[code]

[2020-06-23 06:59] #237 closed

[2020-06-23 08:14] g-amichnia commented on #227
Matcher should fail more gracefully now. Still - it might not work in the first test executed, so for best results call to `SwiftyMockyTestObserver.setup()` would be recommended.

[2020-06-23 08:14] #227 closed

[2020-06-23 08:15] #174 closed

[2020-06-23 16:05] g-amichnia commented on #163
So the current state is: we would be using only subset of generics, that are present in method parameters. That would make it compile, but it would not be possible to make method throw or not throw basing solely on inferred return type. So:

[code]

[2020-06-23 16:05] #163 closed

[2020-06-23 16:23] g-amichnia commented on #228
Done in 4.0.0

[2020-06-23 16:23] #228 closed

[2020-06-23 16:25] g-amichnia commented on #151
Done in 4.0.0

[2020-06-23 16:25] #151 closed

[2020-06-23 16:26] #68 closed

[2020-06-23 16:26] #147 closed

[2020-06-23 17:53] g-amichnia commented on #231
Should be fixed in 4.0.0

[2020-06-23 17:53] #231 closed

[2020-06-24 19:31] Tavernari opened #253 "Error on generate after install Xcode 12 Beta"
Hi guys,

I installed an Xcode 12 beta version so after that I got an error when I run generate command.

If you check the message log, `Message:` is empty.

`SwiftyMocky CLI v3.5.0`

[code]

Everyone knows how to read a log or knows how to resolve this issue?

Thanks in advance.

[2020-06-24 19:42] Tavernari commented on #253
Same error on `setup` command

[2020-06-24 19:57] Tavernari commented on #253
Maybe I found the problem.

I ran the `swiftymocky generate -v` and I figured out the problem is with this command `xcrun swift build -Xswiftc -Onone -Xswiftc -suppress-warning  --disable-sandbox`, so the first problem is its was complaining about this project does not have `Package.swit` so I installed it, after that, it started complaining about `error: unable to load standard library for target

[2020-06-24 21:12] Tavernari commented on #253
I restarted my MacBook and works fine. I have no idea what happened

[2020-06-24 21:12] #253 closed

[2020-06-25 21:13] g-amichnia commented on #253
Hi, no problem, we are not yet testing on beta software. Usually, problems arises with all the tools build with different sdk. IO think since swift 5 it should be abi stable, and thus shall work, but well, usually simple things like restart/uninstall and install solve problems :)

[2020-06-25 21:14] g-amichnia commented on #253
Also, we are moving CLI to saparate repo, please file all issues for it on: https://github.com/MakeAWishFoundation/SwiftyMockyCLI

[2020-06-28 13:51] remkoseelig commented on #228
Nice! Going to take a look at it soon!

[2020-06-30 08:17] raphrel opened #254 "SwiftyMokcy CLI - Error: ShellOut encountered an error"
**swifty mocky cli version 3.5.0**

when `generate` from `swiftymocky cli`, I get the same error message:
[https://stackoverflow.com/questions/61849201/swiftymocky-shellout-encountered-an-error](https://stackoverflow.com/questions/61849201/swiftymocky-shellout-encountered-an-error)

my path was:
`/Users/myname/XXX/iOS Projects/xcodeProject`

I had to move project from no space path directory:
`/Us

[2020-07-01 09:01] DanSkeel commented on #174
What about given opportunity for a `matching` case closure to report the description of mismatch? For example if i'm matching an array of objects that are not Equatable, I could describe the cause of mismatch. For example by throwing a LocalizedError.

We could change match `case matching((ValueType) -> Bool)` to `case matching((ValueType) throws -> Void)`

[2020-07-11 16:46] chkpnt commented on #231
I just updated SPM to the latest commit of SwiftyMocky and can confirm: SwiftUI-Preview works :-)
Thank you!

[2020-07-16 19:04] jbehrens94 opened #255 "Default Mock.swifttemplate throwing empty error"
I've seen multiple issues on this specific topic. When I do a fresh 3.5.0 install of SwiftyMocky and Sourcery v0.18.0, I point Sourcery to the Pods folder with the SwiftyMocky Mock.swifttemplate. That template, also when copied manually to a Sourcery folder, throws an empty error and does not generate anything.

I've made sure that --disableCache doesn't solve the problem, as well as a reboot or c

[2020-07-17 13:43] timwredwards opened #256 "Variadic method parameter support"
SwiftyMocky is a great Framework, but it doesn't currently support variadic methods, with a variable number of method parameters:

[code]

As you can see, SwiftyMocky interprets the parameter type as String rather than [String].

I've done some digging and it looks like Sourcery also doesn't support variadic notation `...`, and doesn't forward this information onto SwiftyMocky, but it would be val

[2020-07-17 15:09] timwredwards commented on #256
I've got around this by redeclaring the protocol in my test target, and redefining the method with an Array parameter rather than variadic. I then created an extension to the Mock which forwards the variadic method call to the Mocked method call with the array parameter. It does work but it's very ugly and verbose, it would be good to see if we can properly support variadic parameters via Sourcery

[2020-07-17 16:20] timwredwards commented on #256
After further investigation, it seems SourceKitten, and I guess hence SourceKit is not actually sending variadic information to Sourcery - so the only way I can think of supporting this is to do some hacky string parsing on the method. Another option is to provide an annotation to Sourcery to manually replace the Parameter type with an array.

[2020-07-19 15:24] g-amichnia commented on #256
Thanks for your insightful comment. I see two ways to do it now:
1. We would do same thing as with generics, as long as Sourcery and SourceKitten properly identifies methods with variadic parameters. Then we can treat it as arrays.
2. For some reason it would be not possible - we will provide annotation. I would rather not do it, as these annotations are hard to discover and it requires going thro

[2020-07-19 18:22] timwredwards commented on #256
You're welcome - thank you for creating such a useful framework.

I haven't yet delved into the way you deal with generics, but it seems as though Sourcery.Method.Name retains the `...` notation, and so it would be theoretically possible to extract variadic parameters through String parsing within SwiftyMocky.

I agree, using annotations solution is less-than-ideal.

[2020-07-20 20:59] jbehrens94 commented on #255
Seems to be related to this issue on Sourcery: https://github.com/krzysztofzablocki/Sourcery/issues/817

Maybe it's worth it to rewrite the template in Stencil, as Sourcery's maintainers already mentioned how .swifttemplate files are a headache to them.

[2020-07-21 16:13] Przemyslaw-Wosko commented on #255
@jbehrens94 instead going for stencil i'd love to go straight for https://github.com/apple/swift-syntax, and not bother with any more 3rd party, but that would require a lot of work.
We would preserve original SwiftyMocky API, and just focus on reworking generation. Maybe someone want to help with that? ^^

[2020-07-22 09:20] timwredwards commented on #256
This may come in useful for extracting the variadic parameter from a method name:
[code]

[2020-07-22 11:44] jbehrens94 commented on #255
Sounds like an awesome thing to do, I'd love to help! :)

[2020-07-24 05:57] #256 closed

[2020-07-24 06:15] g-amichnia commented on #184
It is now possible to "annotate" Mock with:

`//sourcery: typealias = "A = WithConflictingNameMock.A"`

That would generate proper typelias definition inside mock implementation.

[2020-07-24 06:15] #184 closed

[2020-07-24 14:46] amichnia commented on #256
@timwredwards Thanks for the snippet. I had to modify it a bit to cover some really silly cases, like '[A: B]...'

[2020-08-01 11:22] g-amichnia commented on #255
I think a way to go would be to directly depend on Sourcery in our CLI. So there would be no more depending on the fact that Sourcery is installed or available, mixed versions, etc. We must investigate how easy it would be this way.

I also like the ide to go directly with swift-syntax, but that might be just a bit too much to chew at once :)

Btw. @jbehrens94  SwiftyMocky version 4.0.0 is just ou

[2020-08-05 17:54] TimeDelta commented on #234
I noticed this story and figured I'd give an existing test that I use in my app:
[code]

[2020-08-05 17:58] TimeDelta commented on #234
In case somebody finds this and wonders where the heck the `alert.tapButton(withTitle: )` comes from:
[code]

[2020-08-05 18:06] TimeDelta commented on #234
ArgumentCaptor is especially useful for things like:
- testing code from a Closure that relies on UI interaction in order to run
- making sure that the values passed to a `Verify` statement are passed in a specific order
- doing extra validation using the value(s) passed to a `Verify` statement

[2020-08-07 11:35] amichnia commented on #234
@TimeDelta  Thanks, I'll make sure to use these examples and prepare some docs. Version 4.0.0 was so much delayed, that I decided it will have to go without it.

[2020-08-07 14:14] TimeDelta commented on #234
No worries. Thanks for all your work on such a great testing framework 🙂
I'll try to help out when I can.

[2020-08-19 14:10] kubamatula opened #262 "Mocks of protocools with mutating methods don't compile"
**SwiftyMockyCLI version 4.0.0.**

Mocks generated for protocools with mutating methods don't compile, because of `mutating` modifier in static functions, and `mutating` modifier used in the class implementation of the protocool.

An example protocool for which CLI generated mock doesn't compile:
[code]

[2020-08-21 00:26] nskonieczko opened #259 "Mock.generated errors "Property must be marked public""
After upgrade to 4.0.0 including CLI, my Mock.generate is left with over 100 errors:

"Property 'someProperty' must be declared public because it matches a requirement in public protocol 'SomeProtocol'

[2020-08-21 00:43] nskonieczko opened #260 "Mock.generated doesnt compile"
after upgrade Property 'someProperty' must be declared public because it matches a requirement in public protocol 'SomeProtocol'

these are not public protocols

[2020-08-21 08:28] fssilva commented on #255
Could we re-open this and bump the Sourcery version SwiftyMocky uses ?
https://github.com/krzysztofzablocki/Sourcery/issues/817

[2020-08-31 13:08] vadimue commented on #260
Hey @amichnia,
I faced exactly the same issue as @nskonieczko.
We were using SwiftyMocky 3.5.0, everything was ok, without errors.
After updating to 4.0.0, we got ~150 errors about `Property 'propertyName' must be declared public because it matches a requirement in public protocol 'ProtocolName'`

When I deleted `Mock.generated.swift` and run `swiftymocky generate` we were still having 7 errors.

[2020-09-01 18:24] amichnia commented on #260
@vadimue @nskonieczko I finally found the issue. It seems that some time ago we merged code that was fixing a small issue with prototyping. In the case of prototyping, there are no @testable imports, and change added addressed that, making some properties internal.

I'm reverting that change for SwiftyMocky, and I will think of some general solution for this problem. Expect 4.0.1 later today

[2020-09-01 19:55] amichnia commented on #260
Resolved with 4.0.1

[2020-09-01 19:55] #260 closed

[2020-09-01 20:05] amichnia commented on #255
Should be fixed with 4.0.1

[2020-09-01 20:05] #255 closed

[2020-09-02 13:27] pgorzelany-objectivity commented on #255
@amichnia how do we use Sourcery 1.0.0 with the old SwiftyMocky setup? Do we use the getSourcery script?

[2020-09-13 12:31] amichnia commented on #255
No, I think we stopped using that script after swift got abi stable.

Anyway, it all depends on how you install sourcery. If you use pods, run pod update, mocky 4.0.1 already points to right binary.

With the old set up, you just execute sourcery binary passing the path to config as an argument.

[2020-09-24 18:40] mpdifran opened #263 "Mock generation issue for framework + mock framework when using Carthage"
This seems somewhat related to #229 .

We have a framework that mocks out protocols internally in order to run its own tests, and a separate mock framework that contains mocks of the public protocols (so consumers of this framework can run tests).

Both the framework and the mock framework have Build Phases like this:

[code]

Whenever we set up a new machine, Carthage will fail to build the mock

[2020-09-25 15:43] JiceDessaint opened #264 "Mocks for `available(iOS xxx)` build error with Stubber variant"
SwiftyMocky 4.0.1 (Cocoapods integration) + SwiftymockyCLI 4.0.1

Got an error when mocking following protocol:
[code]
will produce following code for stubbing method:
[code]
`willReturn` variant is good, but `stubber` version miss the available annotation, resulting in compilation error `'m_funcA' is only available in iOS 12.0 or newer`

<img width="1020" alt="image" src="https://user-images.gith

[2020-10-12 09:32] wvteijlingen opened #267 "Setting nil on a mocked property causes a fallback to the mocked value instead"
Given the code below, I would expect both the asserts to succeed. However, the second `XCTAssertNil` fails because SwiftyMocky uses the nil coalescing operator in the mocked getter.

[code]

The nil coalescing getter causes a fallback to the initially mocked value instead of returning the actual value that was explicitly set (which is `nil`).

[code]

In this example you could work around this by

[2020-11-18 13:22] tarbayev opened #268 "Unreliable matching of unordered Sequence parameters"
Current implementation treats `Sequence` parameters as ordered collections, while the order of the elements is not guaranteed.
This leads to random failures in matching `Dictionary` and other unordered collection parameters.

[2020-11-24 07:21] raduraducu opened #269 "Problem when using SwiftyMocky templates with Sourcery"
When trying to generate the mocks using:

I keep getting this error:

 swift --version = Apple Swift version 5.3.1 (swiftlang-1200.0.41 clang-1200.0.32.8)
SwiftyMocky & Sourcery are installed via pods
PODS:
  - SwiftyMocky (4.0.1):
    - Sourcery (>= 1.0)

Tried with 4.0.0 and Sourcery 0.18 and the result is the same. When using the CLI this works flawlessly but the CLI uses other templates.

[2020-11-26 16:23] bukira opened #270 "No registered comparators for Optional"
I am trying to get comparators to work, they are working else where but not in one instance

I get

[FATAL] No registered comparators for Optional < CallRoute >

But I have done

 Matcher.default.register(CallRoute.self) { (lhs, rhs) -> Bool in
            guard lhs.ID == rhs.ID else { return false }
            return true
        }

So I don't understand why it is saying its not registered

[2020-11-26 17:14] bukira commented on #270
ok fixed it

needed to be

Matcher.default.register(CallRoute?.self) { (lhs, rhs) -> Bool in
   guard lhs?.ID == rhs?.ID else { return false }
  return true
}

[2020-11-26 17:14] #270 closed

[2020-12-03 10:56] laxmorek opened #271 "Mocks for protocols with `#if os(xxx)` don't build."
### Problem

`Mock.generated.swift` doesn't build when protocol with annotation `// sourcery: AutoMockable` contains `#if os(xxx)` statement.

### Expected behavior

`Mock.generated.swift` should handle `#if os(xxx)`.

### Environment

- `SwiftyMocky` - `4.0.1`
- `Sourcery` - `1.0.0`
- `Xcode` - `12.2`
- `macOS` - `11.0.1 `

### Example

**Input:**

[code]

**Output:**

<img width="1270" alt="Scre

[2020-12-24 15:29] zmeziane opened #272 "Crash when calling `invocations.append` from multiple threads"
### Problem
Crash when calling `invocations.append` from multiple threads:

![image](https://user-images.githubusercontent.com/3857761/103096615-cabb0600-4604-11eb-802c-06d8b8666dd9.png)
[code]

### Expected behaviour

Should not crash 😄 . Probably need to make reading/writing to `invocations` thread safe.

### Environment
- SwiftyMocky - 3.5.0
- Xcode - 12.3
- macOS - 10.15.7
-
### Example

####

[2021-01-14 11:01] trant opened #273 "FATAL] No registered matcher comparator for `XProtocol`"
Is it possible to use `Matcher.default.register` on a protocol type? I am getting a compile error:

`Value of protocol type 'ContactProtocol' cannot conform to 'Equatable'; only struct/enum/class types can conform to protocols`

What would be my options if this won't work?

[2021-01-14 11:09] trant commented on #273
Fixed by using `.matching` on `verify`

[2021-01-14 11:09] #273 closed

[2021-01-22 08:35] g-amichnia commented on #272
Thanks for the example, I will check this. Definitely something needs to be done here.

[2021-01-22 16:29] g-amichnia commented on #268
Changed, currently only Arrays are treated as ordered sequences. For all behaviours that are non-default, please override comparator for that specific sequence type.

[2021-01-22 16:29] #268 closed

[2021-01-22 16:43] g-amichnia commented on #271
Same goes with #if DEBUG etc. The problem is with source kitten I suppose. Not much we can do about it at this point.

Just a general remark,  I would strongly recommend avoiding that. You can always use `@available` statement instead of conditional compilation. It is better suited for defining interfaces, and a bit less messy.

[2021-01-22 16:43] #271 closed

[2021-01-22 16:54] g-amichnia commented on #269
Hi, the problem is that you are using path to development templates directory (we use that folder to split mono-template into some more logical chunks).

Then it tries to generate from partial files, which are missing some statements and defines.

The actual template resides in `Pods/SwiftyMocky/Sources/Mock.swifttemplate` or `Pods/SwiftyPrototype/Sources/Prototype.swifttemplate`

I will check lat

[2021-01-22 16:54] #269 closed

[2021-01-22 17:02] g-amichnia commented on #267
Hi, so this topic was under discussion for a long time, and I don't have an answer I am 100% sure is correct.

In general, what you described as correct behaviour, was initial implementation. But it means that mocks are then less "mocks", and more like implementation, with this implicit assumption, that when you "set", get should return you value you've set. This is not always the case.

We decide

[2021-01-22 17:02] #267 closed

[2021-01-22 17:33] g-amichnia commented on #264
Fixed.

[2021-01-22 17:33] #264 closed

[2021-01-22 17:45] g-amichnia commented on #262
Fixed

[2021-01-22 17:45] #262 closed

[2021-02-03 08:31] erneestoc opened #275 "Support protocol composition type."
Are there any plans to support [protocol composition type](https://docs.swift.org/swift-book/ReferenceManual/Types.html#ID454)? I see on [sourcery docs](https://cdn.rawgit.com/krzysztofzablocki/Sourcery/master/docs/Classes/ProtocolComposition.html#/c:@M@SourceryRuntime@objc(cs)ProtocolComposition(py)composedTypes) that one can query the types forming a composition.

[2021-02-04 10:00] ratkins opened #276 "Installation via brew?"
If `swiftymocky` were installable via `homebrew` we could remove our workstation/ci setup scripts' dependency on `mint` (which requires a non-interactive `sudo` command to create and set ownership on its path on M1 Macs.)

Is there any particular reason there's no `swiftymocky` formula in `brew`, aside from "nobody's built it yet"?

[2021-02-04 15:41] wyszo commented on #276
There's a ticket open for that in the SwiftyMocky CLI repository: https://github.com/MakeAWishFoundation/SwiftyMockyCLI/issues/2

AFAIK 'nobody's built it yet' seems to be the main reason why it's not done.

I had a quick look the other day and failed to build swiftymocky from a custom homebrew formula, so all I know is that it's not completely trivial (but it should be doable).

It's possible tha

[2021-02-06 18:33] g-amichnia commented on #276
@wyszo Yes, it would be a tap probably. We have Makefile, I think I've seen using that for brew tap builds. And yes, "nobody built it yet" is actual reason :)

@ratkins have you tried using make to drop using mint? (https://cdn.rawgit.com/MakeAWishFoundation/SwiftyMocky/4.0.3/docs/installation.html) Just in that case you would need to also manually install sourcery (not sure how up to date is brew

[2021-02-06 20:05] ratkins commented on #276
Getting rid of `mint` is the point for me, I’ll see if I have the chance to take a look at making a tap.

[2021-02-23 12:35] pmanuelli opened #277 "Link error with Xcode 12.5 Beta 2"
Hello!

I have integrated SwiftyMocky `4.0.3`. With Xcode 12.5 beta 2 the project no longer links.

When SwiftyMocky is linking it gives an error: `ld: library not found for -lswiftXCTest`

The [Xcode 12.5 beta Release Notes](https://developer.apple.com/documentation/xcode-release-notes/xcode-12_5-beta-release-notes) reads:

Thank you!

[2021-02-23 12:59] polmum commented on #277
Hi!
I'm having the same issue. Updating the podspec's line `'OTHER_LDFLAGS' => '$(inherited) -weak-lswiftXCTest -Xlinker -no_application_extension'` by removing the `-weak-lswiftXCTest` linkage appears to fix the issue. I also tried replacing it with `-weak-lXCTestSwiftSupport`, and it worked as well.

[2021-02-25 18:58] sumitmundra opened #279 "Not able to install SwiftyMocky"
mint install MakeAWishFoundation/SwiftyMocky-CLI
:seedling: Finding latest version of SwiftyMocky-CLI
:seedling: Cloning SwiftyMocky-CLI 4.0.3
:seedling: Resolving package
:seedling: Building package
Error: You don’t have permission to save the file “4.0.3” in the folder “build”.

[2021-03-04 14:24] fssilva opened #281 "Sourcery Updates, SwiftyMocky Breaks. 🎵"
Hi, I've been experiencing some broken mocks every time Sourcery releases an update. As of today SwiftyMocky doesn't work with Sourcery `1.3.1`, it generates an invalid `main.swift`

Could we be more specific to which version of Sourcery we depend on ? Having it as `s.dependency 'Sourcery', '>= 1.0.2'` doesn't seems very reliable.

[2021-03-04 22:08] g-amichnia commented on #281
@fssilva Hi, could you specify the problem? I will try it with new sorcery, but meantime, can you check few things?

1. Do you use CLI for generation? If not, I highly recommend, since it makes your life way way easier.
2. If not, do you have correct template directory? It should be:

[code]

From problem description it looks like you are using:

[code]

which contains partial templates (we use th

[2021-03-04 22:16] g-amichnia commented on #281
OK, seems that anyway some api in Sourcery changed. I was expecting no breaking changes when only minor changes, but seems it is untrue. I will look when this change was introduced, and release SM fix.

[2021-03-04 23:02] g-amichnia commented on #277
Will be released with 4.0.4, thanks to @emn-mun fix. Closing

[2021-03-04 23:02] #277 closed

[2021-03-04 23:46] g-amichnia commented on #272
@zmeziane fixed in 4.0.4

[2021-03-04 23:46] #272 closed

[2021-03-05 07:12] zmeziane commented on #272
@g-amichnia awesome! Thank you 🙏

[2021-03-05 09:32] fssilva commented on #281
Hi,

1. No, I use the Xcode Build Script for generation.
2. I'm using the correct template. `- ./Pods/SwiftyMocky/Sources/SwiftyMocky`

The point I wanna make here is that Sourcery is a very important piece in SwifyMocky. Changes on Sourcery have a huge impact on the project and therefore should be carefully tested before making it automatically available to everyone.

Instead of having this`Sourc

[2021-03-05 15:13] g-amichnia commented on #281
@fssilva yes, you are completely right. I think I was over optimistic assuming Sourcery will keep same api's and behaviour after 1.0 release. They did a lot of cool stuff recently, I need to prepare SM for Sourcery 1.3.

I will be more cautious from now on. Anyway, this issue should be fixed with our recent 4.0.4 release.

[2021-03-05 15:13] #281 closed

[2021-03-12 22:22] lcta0717 opened #282 "Use generated mocks files in other projects"
in [#228](https://github.com/MakeAWishFoundation/SwiftyMocky/issues/228), you mention that it's included in version 4.0.0, but make no mention of how to mock these protocols origination in other libraries. Do you have any guidance on how to do this?

[2021-03-23 17:44] erneestoc commented on #275
https://github.com/MakeAWishFoundation/SwiftyMocky/pull/280

[2021-03-31 16:21] strfn opened #283 "Invalid MockFile if customising Objc interface with annotation"
The generated MockFile is invalid (not compilable) if a static swift method needs to be exposed to Objective-c with a custom selector.
i.e. using `@objc(thenewselect)`
The `StaticVerify` and `StaticPerform` part of the mock has the @objc annotation partly stripped out

 Given the following protocol
[code]

The generated mockfile will be like
[code]

[2021-04-19 17:41] abhilashRakuten opened #284 "Does it support mocking protocols using RxSwift?"
I am getting so many errors with the Mock.generated file while trying to mock a protocol written using RxSwift and RxCocoa.  Is it supported?

[2021-04-21 18:18] erneestoc commented on #284
Yes, just make sure you added `RxSwift` to the imports on your `Mockfile`

[2021-04-28 20:09] spaluchiewicz commented on #279
@sumitmundra I was able to fix the issue with those commands
[code]
more details in the Mint issue: https://github.com/yonaskolb/Mint/issues/188

Note: I faced the issue on M1 machine with 11.2.3 Big Sur.

[2021-05-20 07:58] rserentill commented on #277
Hello @g-amichnia, any news on this? when is version 4.0.4 planned to be released?

[2021-06-03 14:09] bonkey opened #286 "Closed set of methods called on a mock"
I couldn't find it anywhere: is it possible to define precise set of methods called on a mock and no others?

I'd expect an interface for that like that:

[code]

I see two use cases for that:

1. If a complex flow doesn't do too much under the hood
2. If changes introduced later in code doesn't break exising flow

Without it, it requires:

[code]

[2021-06-08 09:25] strfn commented on #283
More than happy to contribute back a fix if anyone can point me out to the right process to update and test the template.

[2021-06-11 21:28] devturhan opened #287 "Generic any value comparison failure"
Hey, first I would like to thank you for your great effort in this project.

After we update SwiftMocky to 4.0.4 and Xcode 12.5, some of our tests are started to failing.
Failing tests are occurring due to a failure on comparison of Generic closure (T->Void). When I dig into it, I found that comparison is failing because the wrapAsGeneric function converts it as Parameter with GenericAttribute, an

[2021-06-21 10:26] Drag0ndust opened #288 "BUG: Problem with @available: Mock file doesn't compile"
I have a method which has a `@available(macOS 11.0, iOS 14, *)` annotation. The generated mock file then contains an enum with associated value and that annotation. But this is forbidden by the compiler :(

Because of that I can't do the testing on the console/CI: `swift test`

[2021-07-01 12:57] #288 closed

[2021-07-05 12:04] maxxx777 opened #289 "Mock generation with Inheritance from class"
Hello, is there a way to generate mock with inheritance from class?
for exampe:

[code]

in mock generated file I’d like to get

[code]

but it generates only

[code]

[2021-07-06 12:36] amichnia commented on #289
Working on it

[2021-07-06 12:37] amichnia commented on #287
Working on it. Thanks for raising.

[2021-07-06 15:52] g-amichnia commented on #286
I see no issue. Will recheck the api (maybe variadic params?) but I think I will propose something with similar behaviour. Expect rather a VerifyStrategy enum than ordered Bool :)

[2021-07-06 15:54] g-amichnia commented on #284
Yes, as @erneestoc mentioned, update a Mockfile / legacy yaml file to make sure all imports are there.

[2021-07-06 15:54] #284 closed

[2021-07-06 15:55] g-amichnia commented on #283
Sorry for late reply, was on paternity leave for few months. Looking into it.

[2021-07-06 16:03] strfn commented on #283
All I can say …. CONGRATULATIONS !

Happy to take care of it with some guidance (if it is not just quicker for you to fix it)

[2021-07-08 06:35] Smponias opened #290 "[Swift 5.5] Mock generation with for async funcs"
I am testing the new async await feature from Swift 5.5 and SwiftyMocky can't generate mocks for async funcs.
I just wanted to let you know.

e. g.
`func isOnline() async -> Bool`

The mock looks like this:
[code]

[2021-07-16 08:24] ratkins commented on #234
Thank you @TimeDelta that is precisely the thing I came here to search how to do 😄

[2021-07-29 12:47] nareksedrakyan opened #291 "Couldn't clone https://github.com/MakeAWishFoundation/SwiftyMocky.git"
mint install MakeAWishFoundation/SwiftyMocky@3.4.0 --verbose
🌱 Cloning SwiftyMocky 3.4.0
Cloning into 'github.com_MakeAWishFoundation_SwiftyMocky'...
kex_exchange_identification: read: Operation timed out
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.
🌱 Encountered error during "git clone --depth 1 -b 3.4.0 https://gith

[2021-07-30 07:38] isaac-weisberg commented on #276
Well damn

[2021-07-30 07:47] isaac-weisberg opened #292 "How about packaging a build of SwiftyMocky CLI right inside the runtime library package/pod?"
So you could expect `./Pods/SwiftyMocky` to contain a directory called `bin` which would contain `swiftymocky` executable.

This has several advantages:
- installation process is shortened by half of the steps
- no need to depend on Homebrew or Mint
- the versions between CLI and the runtime library are strictly aligned, you update one - you update the other, and you can not achieve a situation wh

[2021-07-30 08:29] isaac-weisberg commented on #291
Doesn't look like an issue with the framework. Your network connectivity just fails for reasons unbeknownst.

[2021-08-16 15:51] baderbenzribia opened #293 "Parallel execution of SwiftyMocky causing conflicts in some temp files"
I tried to add `swiftymocky generate` as a pre-build for the test target of each framework that my main project depends on.
I have seen that a temp file `./mocky` is generated under the root folder of my project and causing conflicts since it is created and deleted by the script for each framework.
Any idea how this can be fixed?

[2021-08-23 12:13] laspowa opened #294 "Comparator for dictionaries unordered parameters"
The order of elements is not guaranteed but comparator treats [String: Any] as ordered sequence what leads to flaky tests. Already saw other issues - didn't help.

I have registered:
Matcher.default.register((key: String, value: Any).self) { lhs, rhs in
            guard let lhs1 = lhs.value as? String else { return false }
            guard let rhs1 = rhs.value as? String else { return false }

[2021-10-04 10:39] g-amichnia commented on #293
Need to check CLI. I will either allow to parametrise temp, or will generate some random temp folder name.

[2021-10-04 10:39] g-amichnia commented on #293
Or probably both :)

[2021-10-04 10:40] g-amichnia commented on #292
Will do!

[2021-10-06 14:28] g-amichnia commented on #290
Working on it. I am pretty confident it will be part of 4.1 in few days.

[2021-10-06 14:31] #291 closed

[2021-10-06 23:28] erneestoc commented on #275
@amichnia @g-amichnia nice to see code was merged! looks like it's pending release? 👀

[2021-10-07 17:24] and89 opened #295 "macOS Big Sur 11.6, Xcode 13. Can't install SwiftyMocky"
Hello!

When I try to install SwiftyMocy i get build error:

mint install MakeAWishFoundation/SwiftyMocky-CLI --verbose
🌱 Finding latest version of SwiftyMocky-CLI
🌱 Cloning SwiftyMocky-CLI 4.0.3
Cloning into 'github.com_MakeAWishFoundation_SwiftyMocky-CLI'...
remote: Enumerating objects: 57, done.
remote: Counting objects: 100% (57/57), done.
remote: Compressing objects: 100% (55/55), done.
remot

[2021-10-10 17:11] shukngdev commented on #295
Having the same issue as well. Hopefully the release is still on track for the weekend

[2021-10-10 23:10] g-amichnia commented on #294
Fixed in 4.1

[2021-10-10 23:10] #294 closed

[2021-10-10 23:23] g-amichnia commented on #287
Added tests, seems it works properly in 4.1.

Just one remark about generics, not sure if applies here. In general, they are type sensitive, in a way, that is not always `.any == .any`.  In other words:

[code]

This is intended.

[2021-10-10 23:23] #287 closed

[2021-10-10 23:42] g-amichnia commented on #283
Done in 4.1

[2021-10-10 23:42] #283 closed

[2021-10-11 01:08] g-amichnia commented on #282
It is a different case. In #228 question was about using SwiftyMocky to generate mocks, you can ship with your library/framework to your clients, who can then use them to test their integration with your code.

There is currently a no good way to generate mocks for 3party libraries frameworks, that do not provide you with source code.

[2021-10-11 05:45] g-amichnia commented on #292
Should be done in 4.1

[2021-10-11 05:45] #292 closed

[2021-10-11 08:36] g-amichnia commented on #295
Released version `4.1.0-pre` as a pre-release. When I fix integration tests, I will release it officially as 4.1.0. But it seems it is fixing most of the issues, and should be safe to use.

[2021-10-11 17:25] chkpnt opened #296 "Linked documentation isn't human readable (wrong Content-Type)"
In case you haven't noticed: The linked [documentation](https://cdn.rawgit.com/MakeAWishFoundation/SwiftyMocky/4.1.0-pre/docs/index.html) in the README is delivered by the CDN as `text/plain` leading to this experience:

<img width="1250" alt="grafik" src="https://user-images.githubusercontent.com/1956979/136830349-af9b659a-c97d-44c7-95ae-6f27f003369c.png">

[2021-10-13 20:13] amichnia commented on #279
I guess this is resolved by now. Would be grateful if someone with M1 mac confirmed that curent CLI / binarey attached works.

[2021-10-13 20:25] amichnia commented on #296
Fixed

[2021-10-13 20:25] #296 closed

[2021-10-13 20:41] g-amichnia commented on #195
Well, we definitely need to have a way to replace some mocked methods with actual implementation during the development cycle, +1 for that.

I think I will give SwiftyPrototype more focus doing version 5, it is now just a mediocre twin brother of SwiftyMocky xD

[2021-10-18 21:14] rlnucci opened #297 "CLI in SwiftMocky-CLI doesn't seem compatible with 4.1.0"
We tried updating SwiftMocky to 4.1.0 while still using the cli from SwiftMocky-CLI and got several errors when trying to generate the mocks, so it looks like things are not compatible

[2021-11-10 09:09] ArturKvaratshelia opened #298 "No registered comparators for Any issue."
Hello, I have protocol with generic method.
[code]
but when I try to compare parameter with bool type
`storageMock.verify(.write(value: .value(true), for: .value("Key")), count: 1)`
I have received error `No registered comparators for Any`.

![Screenshot 2021-11-10 at 10 50 09](https://user-images.githubusercontent.com/49284155/141083361-61a3eaed-06a0-40ba-922f-ed0007500760.png)

Do you know worka

[2021-11-22 10:23] pschneider commented on #297
The updated CLI would be 4.1.0 but is only available as a pre-release commit https://github.com/MakeAWishFoundation/SwiftyMockyCLI/commit/d74496038585a8f56940da3e510156f58b6de54a

I think it is anyway recommended to remove the usage of SwiftyMocky-CLI and use the CLI binary that is bundled within this repo since the 4.1.0 release.

Example:
[code]

[2021-11-23 01:08] nrichards commented on #202
Use `AnyObject`

[code]

[2021-12-07 23:31] spaluchiewicz commented on #276
@g-amichnia / @amichnia  I created **Homebrew Formula** for swiftymocky to install it with `brew` as described in this ticket.
Could you please review it: https://github.com/spaluchiewicz/homebrew-swiftymocky
later we'll probably move it to `MakeAWishFoundation/SwiftyMocky`

Usage:
**NOTE:** Before you start installing swiftymocky with `brew` please remember to remove current version installed wit

[2021-12-13 13:46] spaluchiewicz commented on #298
@ArturKvaratshelia have you tried register the `comparator` according to the documentation: https://rawcdn.githack.com/MakeAWishFoundation/SwiftyMocky/4.1.0/docs/matcher-support-for-not-equatable.html ?

[2021-12-15 12:43] ArturKvaratshelia commented on #298
@spaluchiewicz  Thanks. This is what I was looking for.

[2021-12-15 12:43] #298 closed

[2021-12-20 21:29] wyszo commented on #276
@spaluchiewicz In your tap I think you're missing `depends_on "sourcery"`. Without it I doubt it'll install and run properly on a clean system (other than that: nice work!)

[2021-12-20 23:20] spaluchiewicz commented on #276
@wyszo I can add this but it looks like it's not necessary or it depends on your configuration:
- no `Sourcery` installed:
[code]
but if you run `swiftymocky generate` in project where `SwiftyMocky` installed as dependency with `Cocoapods` (`Sourcery` installed as dependency for `SwiftyMocky` with Cocoapods) `SwiftyMockyCLI`will use `Sourcery` from `Pods`.

Will investigate this deeper.

[2022-01-10 17:31] spaluchiewicz commented on #276
Done! I didn't find the need to install/set **Sourcery** as a dependency for CLI.

@g-amichnia / @amichnia waiting for final check on your.

[2022-01-14 06:52] ReeceLiu opened #300 "Does it support generate mock in a private pod?"
we have some private pods that need to write unit test.  but currently we can't mock the classes from Development Pods folder in a private pod .  is there a way to generate mock classes in a private pod?

[2022-01-16 20:20] KaBlaize opened #301 "SwiftyMocky will NOT generate Mock, adopting all methods/properties gathered from all inherited protocols when the other protocols are defined in different frameworks"
Based on the [example](https://rawcdn.githack.com/MakeAWishFoundation/SwiftyMocky/4.1.0/docs/examples.html#example1.4)  it should just work and based on the `swiftymocky doctor` command output everything is just fine (version: v4.1.0) .

But I get the following error when try to run my tests: "Type 'AppCoordinatorProtocolMock' does not conform to protocol 'Coordinator'"

Where `Coordinator` protoc

[2022-01-19 15:32] mpdifran commented on #301
I'm having the same issue in my project.

[2022-01-24 06:58] KaBlaize commented on #301
Hello @iliaskarim @SiarheiFedartsou @glyuck ,
Do you need any assistance with this or where shall I start to look if I want it check/fix/add it?

ofc, after reading [Contributing](https://github.com/MakeAWishFoundation/SwiftyMocky/blob/master/CONTRIBUTING.md)

[2022-03-07 07:29] JanC opened #303 "No registered comparators for Optional<() -> ()> in 4.1.0"
hi,
I update SwiftyMocky from 4.0.4 to 4.1.0 and regenerated my mocks. I have some tests that are failing because of a `.value(nil)` where the parameter is an optional closure.

[code]

This used to work fin in SwiftyMocky 4.0.4 but in 4.1.0 the tests crashes with

[code]

A workaround would be to change all my assertions to
[code]

but that would be quite some changes in my code base so I wonder

[2022-03-14 09:52] hufkens opened #304 "Invalid redeclaration error when generating some async method mocks"
We are using async functions and we ran into a problem while generating mocks.

We have an APIClient that has these methods:
[code]

After generating the mocks SwiftyMocky `v 4.1.0`  we get this error: `Invalid redeclaration of 'request(_:willThrow:)'` because 2 methods have been generated.

[code]

We found this closed ticket https://github.com/MakeAWishFoundation/SwiftyMocky/issues/290 and for m

[2022-03-16 09:38] AhmadFayyas commented on #202
In my case, I was able to resolve it by registering it as a `(key: String, value: Any).self` instead of `[String: Any].self`.
The element of the dictionary is a tuple as if `(key: value:)`.

[2022-03-16 09:38] InderKumarRathore commented on #202
The Element of Dictionary is `(key:, value:)` so we need to register the Element which is Tuple in case of Dictionary.
[code]

This is because of
[code]

[2022-03-16 17:03] AttiaMo opened #305 "4.1.0 SPM unable to resolve product type 'com.apple.product-type.tool' for platform 'iphonesimulator'"
I'm getting this error, trying to run my tests for iPhone target
![SwiftyMocky error](https://user-images.githubusercontent.com/8784762/158646243-d89d1d49-76f5-4a67-b793-169810c51d83.png)

here's how i added swifymocky to my `Package.swift file`
![Package](https://user-images.githubusercontent.com/8784762/158646239-e81d8040-7656-42eb-af60-f4e53aad7470.png)

Could you please let me know what i'm do

[2022-03-17 08:49] soundbites opened #306 "SwiftyMocky doesn't work after updating to Xcode 13.3"
When updating to the latest Xcode version 13.3 SwiftyMocky generate fails with the following message;

[code]

I guess it is from a dependency that hasn't been updated yet. Anything we can do? except downgrade to a previous Xcode version?

[2022-03-17 09:48] Vitalii-Gozhenko commented on #305
The problem is that `swiftymocky` is a command-line tool for Mac, you need to specify `SwiftyMocky` (which is a framework).
And it is required to explicitly specify in Package.swift:
[code]

[2022-03-17 16:58] Smponias commented on #306
Even after downgrading to Xcode 13.2.1 it doesn't work for me.

[2022-03-21 11:23] StilianosTzouvaras commented on #306
Any news on this issue?

[2022-03-21 13:35] bolo992 commented on #306
It doesn't work for me as well, Xcode 13.3. I tried to uninstall and install again using Xcode 13.3 command line tools but it doesn't work still.

[2022-03-21 13:40] StilianosTzouvaras commented on #306
One solution without downgrading  XCODE is to install sourcery via homebrew brew install sourcery and then use sourceryCommand inside the template and set it to sourcery

sourceryCommand: sourcery

[2022-03-24 13:17] ohitsdaniel commented on #306
For all Mint users, install Sourcery 1.7.0 (`mint install krzysztofzablocki/Sourcery@1.7.0`) and then define `sourceryCommand: mint run krzysztofzablocki/Sourcery@1.7.0 sourcery` in your Mockfile.

[2022-03-25 08:48] felipeflorencio opened #308 "When Using Promises, mocked layer return the result after the Verify is called."
Couldn't find anyone mentioning this.

But basically, the mocked layer is expecting a Promise.

First I use the "Given" to fill in what should be the result to that mocked layer.

Then I can the implementation.

As verification, I "Verify" if my delegate method is called.

The problem is that my "Given" mocked layer is only being resolved after my "Verify" is called, so my test always fails.

Not

[2022-03-25 12:26] NSCabezon commented on #306
After installing and specifying it on the Mockfile I still get the `_InternalSwiftSyntaxParser` error any idea why?

[2022-03-26 15:08] bolo992 commented on #306
Well i managed to finally make it works. Follow next steps:
1. First be sure that you installed the latest sourcery: **brew install sourcery**

2. Second remove the deprecated collections.json using next command:
**rm ~/.swiftpm/config/collections.json**

3. Add in Mockfile:
**sourceryCommand: sourcery**

So when you execute **swiftymocky generate** command it should work.

[2022-03-28 09:39] krzysztofzablocki commented on #306
Mint wasn't supported before (will be in next release) since Sourcery had to rewrite rPath for SwiftSyntax dylib, Mint doesn't do that as it only builds with SPM and so you end up with whatever the default Xcode location dylib is, which might not be compatibile with what Sourcery used as a library.

We are now switching to static linking for SwiftSyntax which should resolve this issue altogether

[2022-03-29 07:46] pchmelar commented on #306
@krzysztofzablocki Thanks for the 1.8.0 release! I can confirm that bumping Sourcery to 1.8.0 in Mintfile and then using `sourceryCommand: mint run sourcery` in Mockfile works as expected 🎉

[2022-03-29 10:22] timstudt commented on #306
with `sourceryCommand: mint run sourcery` swiftymocky installs the latest Sourcery version using mint. Meaning you don't need to add Sourcery to any Mintfile... or use Mintfile to install Sourcery and point `sourceryCommand:` to where  you installed it.

[2022-03-30 07:04] #300 closed

[2022-04-03 17:21] amichnia commented on #308
Hi, can you send an example of the test? And something resembling mocked method? That would it easier for us to check for the issue.

[2022-04-05 07:48] Hamza-Hasan-Almass opened #309 "SwiftyMocky dosen't generate mock"
I have run the SwiftyMocky generate inside the project to generate the mock for my classes but i got this message below:

swiftymocky error: shellout encountered an error status code: 3

any solution for that?

[2022-04-06 16:49] IuliiaMishina opened #310 "EXC_BAD_ACCESS after updating to Xcode 13.3"
After updating to Xcode 13.3 I am not able to mock closures inside protocol anymore using `given` method. Whenever I am trying to call a mocked closure I receive EXC_BAD_ACCESS:
[code]

Here's the sample code that producing this exception:

[code]

The `TestProtocol` and `SwiftyMockyClosureTest` are in different targets.
If I change the closure to be mutable and mock the property like this:
[code]

[2022-04-21 10:29] makwanbarzan opened #311 "Issue with generating mocks"
I'm encountering `ShellOut error 3` error while executing `swiftymocky generate`. Thus, I'm not able to generate mocks anymore.
The issue was starting to appear after updating the **Xcode Command Line** to 13.3.

Log:
`Error: ShellOut encountered an error
Status code: 3
Message: "objc[5962]: Class AppleTypeCRetimerRestoreInfoHelper is implemented in both /usr/lib/libauthinstall.dylib (0x209afdeb0)

[2022-04-21 19:51] #306 closed

[2022-05-10 11:23] rogowski-smart commented on #310
I have also experienced the same issue with SwiftMocky 4.0.1 and Xcode 13.3.1.
In our project we have abstraction as below:
[code]
When accessing closure from Mock dependency in production code there is a crash.
I have managed to find out that changing code inside mock from this:
[code]
to this:
[code]
solved crash related to memory management. Maybe there is a new compiler optimisation which does

[2022-05-12 13:51] tgyhlsb opened #313 "Missing generic wrapper with `inout` argument"
The code below ends up generating mocks that compile:
[code]

But the code below does not:
[code]

The issue is the `inout Query.Data` which combines `inout` and generics `Query.Data`.

 The `MethodType` case for `updateCache` is:
[code]
and the compiler complains that `Query` is undefined.

Instead it should generate:
[code]
I've tried that change manually and after adding some `.wrapAsGeneric()`

[2022-05-25 07:30] m7mdra opened #315 "Method cannot be declared open because its parameter uses an internal type"
Hello

I'm using latest version of the library 4.1.0

everything went smoothly until i tried to use mock i get this error

`Method cannot be declared open because its parameter uses an internal type`

marking mocked protocol and classes as public resolve the issue but i don't know if is intended to work this way its a bug

`swiftymocky doctor`

[code]

it shows a warning `Mint does not yet have ma

[2022-05-27 07:59] muratdi opened #316 "Incorrect mock generation with @MainActor in closure of async method"
Hi!

We use async functions for network operations and then pass the result with closure blocks up to our ViewControllers. It’s very convenient to declare @MainActor directly in closure to switch to the main queue:

[code]

Anyway, in our Mock.generated we got this:

[code]

With 2 compiler errors when adding `.value(completion)`:

    `Converting function value of type '@MainActor (Result<Void, E

[2022-06-09 11:21] DwayneCoussement opened #317 "[Feature Request] mock actor protocols"
Hi,

We are using actors that implement a protocol and we ran into a problem while generating mocks.

We have the following protocol
[code]
Notice if we generate mocks now, the generated code will be invalid Swift code:
[code]
Expected in this case would be:
[code]

Would be cool to have these features as well.

Dwayne

[2022-06-24 15:53] choulepoka commented on #317
There is also another use case, if you have a class / method that is annotated with `@MainActor`, the code gets generated with the annotation, but internal mock code does not support actors, so you get a bunch of errors

[2022-07-05 15:54] rserentill opened #318 "SwiftyMocky is generating AMassiveTestProtocolMock, which is not a protocol in our project"
Hello there,
We have been using SwiftyMocky for quite some years now and it's been always working wonderfully. However, since today, it is creating mocks for protocols that are not currently in the project.

For example, it is creating a mock for `AMassiveTestProtocol` by adding a class:

[code]

This is not the only mock it's creating, in fact, it has created a lot of them. I found that the proto

[2022-07-19 09:23] VilemKurz commented on #301
It works. You have to:
1. make sure all super protocols are annotated by `// sourcery: AutoMockable`
2. add path to files in the other target in your mockfile, in `sources`

[2022-07-19 16:53] VilemKurz commented on #183
If there was voting, I vote for this feature 👍. Given there is not, I can only thank you for a great and helpful lib - and can hope, that this will be added in the end.

[2022-08-08 21:04] spaluchiewicz opened #319 "README doesn't contain information brew install."
There is dedicated [tap](https://github.com/MakeAWishFoundation/homebrew-swiftymocky) from where **_swiftymocky_** can be installed (instead of installation from **_mint_**).

[2022-08-09 07:51] mltbnz commented on #316
seems like that was fixed in the latest release `4.2.0`

[2022-08-10 07:00] spaluchiewicz commented on #316
@muratdi could you please check this according to the comment from @mltbnz?

[2022-08-10 21:01] #313 closed

[2022-08-10 21:43] spaluchiewicz commented on #318
@rserentill could you share more details: **SwiftyMocky** version, **Sourcery** version, _Mockfile_ (if possible)?

[2022-08-15 13:25] DesmanLead opened #321 "Verifying async logic"
It's a common use-case to verify that the method will be called at some moment in the future in a given timeout.
It's possible to implement this using `Perform`, but another version of `Verify` (e.g. `Expect`?) would be really handy.
So the API design might be as follows:
[code]

What do you think? It doesn't look hard to implement, so you can just point the right spot to add this.

[2022-08-17 11:44] spaluchiewicz commented on #315
@m7mdra could you please switch to **brew**:
- [homebrew-swiftymocky](https://github.com/MakeAWishFoundation/homebrew-swiftymocky)

README is pending update to include this:  https://github.com/MakeAWishFoundation/SwiftyMocky/pull/320

[2022-08-18 16:06] fssilva opened #322 "Cocoapods Spec Not Updated to 4.2.0"
Hey, it seems a new version was released but the Specs have not been updated yet. Which means the update is not findable on cocoapods.

https://github.com/CocoaPods/Specs/commit/d019107a686e4b09ed6844ba1bcbeb8522eb4165

[2022-08-20 12:20] m7mdra commented on #315
Thank you, i found a solution long time ago but forgot to close the issue, thanks again.

[2022-08-20 12:20] #315 closed

[2022-08-24 11:09] harshvishu opened #323 "rake aborted"
**I am unable to generate mock.generated files as `rake mock` command fails. The pod version is **4.1.0**. Please find the trace below.**
Can anyone tell me what needs to be changed to resolve this?

Thank you for taking out time and helping :)

terminal log
---
[code]
System Info
---
OS: macOS Monterey (12.5)
Chip: Apple M1

[2022-09-19 11:11] dkk opened #324 "Issue installing with mint"
I am unable to install SwiftyMocky on my system using mint. I have also tried installing 4.1.0 and 4.0.4 with no luck.

**My System:**
[code]

**Mint's output:**
[code]

[2022-09-19 11:48] dkk opened #325 "generate from pod does not work"
generate throws an error.

Notes:
* `setup` was already executed and executing it again shows the `⚠️  Mockfile™ already exists.` warning.
* The sourcery command does exist at the given path.

**My System:**
[code]

**Output:**
[code]

[2022-09-19 11:52] dkk commented on #325
May be related to https://github.com/MakeAWishFoundation/SwiftyMocky/issues/311

[2022-09-19 11:54] dkk commented on #325
May be related to https://github.com/MakeAWishFoundation/SwiftyMocky/issues/309

[2022-09-19 12:02] dkk commented on #325
Note that pod update currently does not download 4.2.0 since [there is no updated spec](https://github.com/MakeAWishFoundation/SwiftyMocky/issues/322). However, note that using:
[code]
has the same outcome

[2022-09-19 12:18] dkk commented on #324
It seems that it was a general problem with my Xcode Command Line Tools setup. Running `sudo xcode-select -s /Applications/Xcode.app/Contents/Developer` solved the issue.

[2022-09-19 12:18] #324 closed, assigned to nobody

[2022-09-19 12:18] dkk commented on #325
It seems that it was a general problem with my Xcode Command Line Tools setup. Running `sudo xcode-select -s /Applications/Xcode.app/Contents/Developer` solved the issue.

[2022-09-19 12:18] #325 closed, assigned to nobody

[2022-09-19 12:19] dkk commented on #325
Btw. I changed my Podfile to:
[code]

[2022-09-20 07:28] bbolchis commented on #322
Until this issue gets fixed, one workaround is to use:

`  pod 'SwiftyMocky', :git => 'https://github.com/MakeAWishFoundation/SwiftyMocky.git', :tag => '4.2.0'`

Source: https://github.com/MakeAWishFoundation/SwiftyMocky/issues/325

[2022-09-20 20:44] VilemKurz commented on #315
I got the same problem, @m7mdra  what was your solution?

[2022-09-20 21:16] VilemKurz opened #326 "Method cannot be declared public because its type uses an internal type"
After I generate mocks or prototypes, this error pops out on all symbols appearing in mocked/prototyped protocols, which are internal in the app. After I manually change all open/public methods/properties declarations to internal in generated files, all works ok.

This pull request seemed to fix the same behaviour (not sure though) https://github.com/MakeAWishFoundation/SwiftyMocky/pull/246/files

[2022-09-21 11:13] m7mdra commented on #315
hey @VilemKurz , it was a long time ago since i worked on that project where i encountered the issue.
maybe if you could show me part of your code where the issue occur... maybe i can help.

maybe also try to follow @spaluchiewicz comment.

[2022-09-21 11:42] VilemKurz commented on #315
I tried to reinstall using brew, same issue. To reproduce the problem
1. have internal protocol, with method/properties which use internal types in their signature, marked as mockable
2. generate mocks
3. bug: the generated method is public. But types in its signature are internal. Thus, xcode spits the error - title of this issue.

[2022-09-21 11:48] m7mdra commented on #315
@VilemKurz
OK i will try to reproduce the problem and cross compare it with my project.

[2022-09-22 09:12] mannyvw commented on #325
Am having same problem, forced pod to update to 4.1.0 and made the sudo xcode-select -s /Applications/Xcode.app/Contents/Developer call. still the same problem

❌  Error: ShellOut encountered an error
Status code: 3

Did the last thing you mentioned

[code]

Now get ./Pods/SwiftyMocky/bin/swiftymocky: Bad CPU type in executable, mmm

[2022-09-22 10:51] dkk commented on #325
Maybe try to completely clean and rebuild your Pods project:
[code]

[2022-09-26 11:44] bbolchis commented on #322
Beware, the bin/swiftymocky executable for tag 4.2.0 is Apple Silicon only, it will show "Bad CPU type in executable" when running on Intel.

[code]

[2022-09-29 18:28] omerturhan commented on #310
Looks fixed on Xcode 14.0

[2022-10-13 12:25] JadQuincyJohn opened #327 "'some' keyword in function signature does not seem supported"
# Overview
Generating a mock from a function with parameters containing the `some` keyword fails

# Example
Steps to reproduce the issue
1. Given a swift file containing this code

[code]

2. Launch the mock generation using
`./Pods/SwiftyMocky/bin/swiftymocky generate`

3. The resulting Mock.generated file produces a file with errors

![Screenshot 2022-10-13 at 14 02 56](https://user-images.githu

[2022-10-17 12:31] VilemKurz commented on #322
Confirming that 4.1.0 delivered by cocoapods runs safely on Intel

[2022-10-17 12:33] VilemKurz commented on #325
Interesting, 4.1.0 works for me on intel without any additional setup. Tested on both Xcode 14 GM (via xcodes) and Xcode 13.4.1 on the default location

[2022-10-18 10:28] kyzmitch opened #328 "RunPhase in Xcode project"
Wasn't able to find how to integrate `SwiftyMocky` after installation using SPM in Issues or in documentation, also tried to find it on stackoverflow but with no luck.

Is it correct that after adding `SwiftyMocky` as swift package dependency to the xcode project it is necessary to add swiftymocky module to unit test target and then add a `Run Script` build phase like:
[code]
Could someone help fi

[2022-10-19 23:08] reejosamuel opened #329 "SwiftTemplate cannot convert value of type 'AttributeList' error"
Getting this error. I have tried reinstalling it a few times. Looking for any hints to resolve this issue:

This is on an M1 machine if that matters.
Running  the following swift version:
[code]

[code]

[2022-10-20 15:58] #329 closed, assigned to nobody

[2022-11-01 03:46] phonefixnicole opened #330 "This is mainly a test or something"

[2022-11-08 12:03] hivinau commented on #289
Any updates ? 🙏